{% block vich_file_widget %}
	{% spaceless %}
		<div class="vich-file">
			{% if download_uri is defined and download_uri %}
				<div class="vich-file-img">
					<a href="{{ download_uri }}"><img src="{{ download_uri | imagine_filter('thumbs') }}" alt="image" class="img-circle"/></a>
				</div>
			{% endif %}
			<div class="vich-file-form">
			{{ form_widget(form.file) }}

			{% if form.delete is defined %}
				{{ form_row(form.delete) }}
			{% endif %}
			</div>
		</div>
	{% endspaceless %}
{% endblock %}
