{% form_theme item.form with ['UneakFlatSkinBundle:Block/Form:fields.html.twig'] %}


{{ form_start(item.form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 9, 'attr': {'class': 'tasi-form', 'novalidate': 'novalidate'} }) }}
{{ form_errors(item.form) }}

{{ form_row(item.form.category) }}
{{ form_row(item.form.published) }}
{{ form_row(item.form.date) }}
{{ form_row(item.form.label) }}
{{ form_row(item.form.slug) }}
{{ form_row(item.form.shortDescription) }}
{{ form_row(item.form.description) }}
{{ form_row(item.form.tags) }}
{{ form_row(item.form.imageFile) }}
{{ form_row(item.form.images) }}
{{ form_row(item.form.active) }}

{{ form_end(item.form) }}

