<script type="text/javascript">
	$(document).ready(function () {

        {% if item.vars.location.latitude is defined and item.vars.location.longitude is defined %}
			var location = new google.maps.LatLng({{ item.vars.location.latitude }}, {{ item.vars.location.longitude }});
		{% else %}
			{% set defaultLocation = 1 %}
			var location = new google.maps.LatLng(16.265, -61.55099999999999);
		{% endif %}

		{% if item.vars.bounds.ne is defined and item.vars.bounds.sw is defined and item.vars.bounds.ne.latitude is defined and item.vars.bounds.ne.longitude is defined and item.vars.bounds.sw.latitude is defined and item.vars.bounds.sw.longitude is defined %}
			var bounds = new google.maps.LatLngBounds(
				new google.maps.LatLng({{ item.vars.bounds.ne.latitude }}, {{ item.vars.bounds.sw.longitude }}),
				new google.maps.LatLng({{ item.vars.bounds.sw.latitude }}, {{ item.vars.bounds.ne.longitude }})
			);
		{% else %}
			{% set defaultBounds = 1 %}
			var bounds = new google.maps.LatLngBounds(
					new google.maps.LatLng(15.731457461356083, -61.85229316406253),
					new google.maps.LatLng(16.546696225928173, -60.95279316406243)
			);
		{% endif %}


		console.log(bounds);

		var uneakGoogleMap = new UneakGoogleMapForm('{{ item.vars.id }}', location, bounds, {
			bounds_editable: {{ item.vars.bounds.editable ? 'true' : 'false' }},
			location_editable: {{ item.vars.location.editable ? 'true' : 'false' }}
		});

		{% if item.vars.search_fields | length > 0 %}

			function getInputValue(input) {
				var value = "";
				var type = input.nodeName+"-"+input.getAttribute('type');
				switch(type.toLowerCase()) {
					case 'select-null':
						value = input.options[input.selectedIndex].text + " ";
						break;
					case 'input-text':
					default:
						value = input.value + " ";
				}
				return value;
			}

			function getAddress() {
				var address = "";
				{% for fieldName in item.vars.search_fields %}
				address += getInputValue(document.getElementById("{{ item.parent.children[fieldName].vars.id }}")) + " ";
				{% endfor %}
				return address;
			}

			{% for fieldName in item.vars.search_fields %}
				$("#{{ item.parent.children[fieldName].vars.id }}").on("change", function(){
					uneakGoogleMap.geocode(getAddress());
				});
			{% endfor %}

			{% if defaultBounds is defined %}
				uneakGoogleMap.geocode(getAddress());
			{% endif %}

		{% endif %}


    });
</script>