{% block uneak_googlemap_widget %}
	{% spaceless %}

		<div id="{{ id }}_container" style="width: 100%; height: 300px;"></div>
		{{ block("hidden_widget") }}
		{#{{ block("form_widget_simple") }}#}

	{% endspaceless %}
{% endblock %}