{% form_theme item.form with ['UneakFlatSkinBundle:Block/Form:fields.html.twig'] %}

{{ form_start(item.form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 9, 'attr': {'class': 'tasi-form', 'novalidate': 'novalidate', 'style': 'text-align: center;'} }) }}
{{ form_errors(item.form) }}

{{ item.description | raw }}

{% if item.form.agence is defined %}{{ form_row(item.form.agence) }}{% endif %}
{{ form_widget(item.form.cancel) }}
{{ form_widget(item.form.confirm, { 'attr': {'class': 'btn btn-danger'} }) }}
{{ form_end(item.form) }}