{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_title %}Profil{% endblock fos_user_title %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
