<script type="text/javascript">

    $(document).ready(function () {

		{% if item.metas.location.latitude is defined and item.metas.location.longitude is defined %}
		var location = new google.maps.LatLng({{ item.metas.location.latitude }}, {{ item.metas.location.longitude }});
		{% else %}
		{% set defaultLocation = 1 %}
		var location = new google.maps.LatLng(16.265, -61.55099999999999);
		{% endif %}

		{% if item.metas.bounds.ne is defined and item.metas.bounds.sw is defined and item.metas.bounds.ne.latitude is defined and item.metas.bounds.ne.longitude is defined and item.metas.bounds.sw.latitude is defined and item.metas.bounds.sw.longitude is defined %}
		var bounds = new google.maps.LatLngBounds(
				new google.maps.LatLng({{ item.metas.bounds.ne.latitude }}, {{ item.metas.bounds.sw.longitude }}),
				new google.maps.LatLng({{ item.metas.bounds.sw.latitude }}, {{ item.metas.bounds.ne.longitude }})
		);
		{% else %}
		{% set defaultBounds = 1 %}
		var bounds = new google.maps.LatLngBounds(
				new google.maps.LatLng(15.731457461356083, -61.85229316406253),
				new google.maps.LatLng(16.546696225928173, -60.95279316406243)
		);
		{% endif %}

		var uneakGoogleMap = new UneakGoogleMapBlock('{{ item.uniqid }}',location ,bounds);

		{% if defaultBounds is defined and item.address %}
		uneakGoogleMap.geocode("{{ item.address }}");
		{% endif %}

    });

</script>