{% form_theme item.form with ['UneakFlatSkinBundle:Block/Form:fields.html.twig'] %}


{{ form_start(item.form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 9, 'attr': {'class': 'tasi-form', 'novalidate': 'novalidate'} }) }}
{{ form_errors(item.form) }}

{{ form_row(item.form.label) }}
{{ form_row(item.form.slug) }}
{{ form_row(item.form.description) }}
{{ form_row(item.form.imageFile) }}
{{ form_row(item.form.year) }}
{{ form_row(item.form.agence) }}
{{ form_row(item.form.departement) }}
{{ form_row(item.form.commune) }}
{{ form_row(item.form.section) }}
{{ form_row(item.form.location) }}
{{ form_row(item.form.images) }}
{{ form_row(item.form.active) }}

{{ form_end(item.form) }}

