
{#{% if imagePath is not defined %}#}
    {#{%  set imagePath = asset("bundles/app/images/no-image.png") %}#}
{#{% endif %}#}

<div class="card">
    {#{% if imagePath %}<img src="{{ imagePath | imagine_filter('teaser_thumbs') }}" alt="{{ item.label }}" />{% endif %}#}
    <div class="card-content">
        <h2><a href="{{ path('agence', {'slug': item.slug }) }}">{{ item.label }}</a></h2>
        <p>{{ item.commune.label }} / {{ item.commune.departement.label }}</p>
        <p><a href="tel:{{ item.phone }}">{{ item.phone }}</a></p>
        <p><a href="mailto:{{ item.email }}">{{ item.email }}</a></p>
    </div>
</div>


