<div class="projet-lot row">
	<div class="">
		<h2>{{ item.lot.label }}</h2>
		<p><a href="{{ path('projet_lot', {'slug': item.projet.slug, 'lot':item.lot.slug }) }}">Lien du lot</a></p>
		<div class="content-description clearfix">{{ item.description | raw }}</div>
		<p><strong>Loyer : </strong>{{ item.loyer }} €</p>
		<p><strong>Nombre de pièces : </strong>{{ item.count }}</p>
		<p><strong>Surface : </strong>{{ item.surface }} m<sup>2</sup></p>
		<p><strong>Aménagé : </strong>{{ item.amenage }}</p>
		<p><strong>Accessibilité : </strong>{{ item.accessibilite }}</p>
	</div>
</div>
<hr>