{#{% set imagePath = vich_uploader_asset(item.collaborateur, 'imageFile') %}#}

<div class="card">
    {#{% if imagePath %}<img src="{{ imagePath | imagine_filter('gallery_thumbs') }}" alt="{{ item.collaborateur.firstname }} {{ item.collaborateur.lastname }}" />{% endif %}#}
    <div class="card-content">
        <h2>{{ item.poste.label }}</h2>
        <span class="agency-name"><strong>{% if item.collaborateur.gender == "homme" %}M{% else %}Mme{% endif %} {{ item.collaborateur.firstname }} {{ item.collaborateur.lastname }}</strong></span><br/>
        <span class="agency-tel"><strong>Téléphone :</strong> <a href="tel:{{ item.collaborateur.phone }}">{{ item.collaborateur.phone }}</a></span><br/>
        <span class="agency-mail"><strong>Email :</strong> <a href="mailto:{{ item.collaborateur.email }}">{{ item.collaborateur.email }}</a></span>
    </div>
</div>
