{% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
{{ form_start(contactForm, { 'style': 'vertical', 'attr': {'class': 'tasi-form', 'novalidate': 'novalidate'} }) }}
<div style="display: none">{{ form_errors(contactForm) }}</div>
<div class="col-sm-6">	
	{{ form_row(contactForm.firstName) }}
	{{ form_row(contactForm.lastName) }}
	{{ form_row(contactForm.phone) }}
	{{ form_row(contactForm.email) }}
	{{ form_row(contactForm.service) }}
</div>
<div class="col-sm-6 contact-text">
	{{ form_row(contactForm.message,{'attr':{'rows':'14'}}) }}
	{{ form_widget(contactForm.message,{'attr':{'class':'photo span'}}) }}
</div>
{{ form_end(contactForm) }}