<h2>Vous avez reçu un message de {{ contact.firstName }} {{ contact.lastName }}</h2>
<p>Telephone : {{ contact.phone }}<br/>Email : {{ contact.email }}</p>
<hr />
<p>{{ contact.message | nl2br }}</p>



