<footer>

        {% render controller('AppBundle:Default:menuFooter', {'slug': 'site-footer', 'itemTemplate': 'Partials/menu_item.html.twig'}) %}

        <hr/>

        <div class="row mention">
            <div class="col-sm-4">
                <span>Société Immobilière de la Guadeloupe</span><br/>
                Lot. N°5 La Rocade Grand Camp<br/>
                97139 ABYMES<br/>
                GUADELOUPE F.W.I.
            </div>
            <div class="col-sm-4">
                <span>Tél :</span> <a href="tel:0806800971">0 806 800 971</a><br />
                <span>Fax :</span> 0590 91 54 43
            </div>
            <div class="col-sm-4">
                <div>Suivez nous</div>
                {#<a href="#"><i class="social-icon fa fa-facebook-official"></i></a>#}
                {#<a href="#"><i class="social-icon fa fa-twitter"></i></a>#}
                <a href="https://www.youtube.com/channel/UCyGY83u0LCEnfl7xFD32KpQ"><i class="social-icon fa fa-youtube"></i></a>
            </div>
        </div>

        <hr/>

        <div class="row mention">
            <div class="col-sm-4">
                <span>Réalisation <a target="_blank" href="http://www.uneak.fr">Uneak.fr</a></span>
            </div>
        </div>
</footer>