{% for item in menu if item.lvl == 1 %}
    {% set uri = "#" %}
    {% if item.route and item.route.route %}
        {% if item.route.route == 'uri' %}{% set uri = item.route.uri %}{% else %}{% set uri = app.request.getBaseURL() ~ '/' ~ item.pathSlug %}{% endif %}
    {% endif %}
    <li>
        <div class="diamond-container">
            <a id="menuItem_{{ item.id }}" class="diamond menu-item" href="{{ uri }}">
                <div class="content">
                    {% if item.icon %}<i class="fa fa-{{ item.icon }}" aria-hidden="true"></i><br/>{% endif %}
                    <span>{{ item.label }}</span>
                </div>
            </a>
        </div>
    </li>
{% endfor %}
