{#<div class="masonry-grid">#}
    {##}
    {#{% for projet in projets %}#}
        {#<div class="masonry-grid-item">#}
            {#&#123;&#35;<div class="col-xs-12 col-sm-6 col-lg-4">&#35;&#125;#}
            {#{% include 'Partials/projet_w_lot_teaser.html.twig' with { 'item': projet } %}#}
            {#&#123;&#35;</div>&#35;&#125;#}
        {#</div>#}
    {#{% endfor %}#}
{#</div>#}


<div class="masonry-grid my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <div class="masonry-grid-sizer"></div>
	{% for item in images %}
		{% set imagePath = vich_uploader_asset(item, 'imageFile') %}
		{% if imagePath %}

            {% set imagePathThumbs = imagePath | imagine_filter('gallery_thumbs') %}
            {% set imagePathView = imagePath | imagine_filter('gallery_view') %}

            <div class="masonry-grid-item">
                <figure itemprop="associatedMedia" itemscope itemtype="">
                    <a href="{{ imagePathView }}" itemprop="contentUrl" data-size="{{ imagePath | resolution }}">
                        <img src="{{ imagePathThumbs }}" alt="{{ item.label }}" itemprop="thumbnail" />
                    </a>
                    <figcaption itemprop="caption description">{{ item.label }}&nbsp;</figcaption>
                </figure>
            </div>
		{% endif %}
	{% endfor %}
</div>

