{#<nav class="main-menu hidden-xs desktop">#}
    <nav id="mp-menu" class="mp-menu">
        {% render controller('AppBundle:Default:leftMenu', {'slug': 'site-primary'}) %}
    </nav>
{#</nav>#}

{#<!--Menu Principal Mobile-->#}
{#<nav class="main-menu visible-xs mobile">#}
    {#<div class="left-panel-logo">#}
        {#<a href="#"><img src="{{ asset("bundles/app/images/logo-sig-mv.png") }}" alt="Logo Sig"/></a>#}
    {#</div>#}
    {#<div class="menu-mobile">#}
      {#<p>Menu</p>#}
      {#<div class="line">#}
        {#<span class="stroke"></span>#}
        {#<span class="stroke"></span>#}
        {#<span class="stroke"></span>#}
      {#</div>#}
    {#</div>#}
    {#{% render controller('AppBundle:Default:menu', {'slug': 'site-primary', 'itemTemplate': 'Partials/menu_item.html.twig'}) %}#}
{#</nav>#}
