{% if menu | length > 1 %}
    {% set lvl_cur = -1 %}
    {% set object_parent = null %}
    {% set lvl_obj = 0 %}
    {% for i in 1..menu | length -1 %}
        {% set object = menu[i] %}
        {% set lvl_obj = object.lvl %}
        {% if lvl_cur < lvl_obj %}
            {% if loop.first %}
                <div class="mp-root mp-level">
                    <div class="left-panel-logo">
                        <a href="{{ path('homepage') }}"><img src="{{ asset("bundles/app/images/logo-sig-mv.png") }}" alt="Logo Sig"/></a>
                    </div>
                    <h2 class="fa fa-home">&nbsp;</h2>
                    <ul id="{{ slug }}">
            {% else %}
                <div class="mp-level">
                    <h2 class="fa fa-{{ object_parent.icon }}"><span>{{ object_parent.label }}</span></h2>
                    <a class="mp-back" href="#">retour</a>
                    <ul>
            {% endif %}
        {% endif %}
        {% if lvl_cur >= lvl_obj %}
            </li>
        {% endif %}
        {% if lvl_cur > lvl_obj %}
            {% for i in lvl_obj..lvl_cur-1 %}
                </ul></div></li>
            {% endfor %}
        {% endif %}
        <li id="menuItem_{{ object.id }}" class="mp-arrow-left">

            {% if object.route and object.route.route %}
                <a class="menu-item" href="{{ app.request.getBaseURL() }}/{{ object.pathSlug }}"><i class="fa fa-{{ object.icon }}"></i>{{ object.label }}</a>
            {% else %}
                <a class="menu-item" href="#"><i class="fa fa-{{ object.icon }}"></i>{{ object.label }}</a>
            {% endif %}

        {% set lvl_cur = object.lvl %}
        {% set object_parent = object %}
    {% endfor %}
    {% for i in lvl_cur..0 %}</li></ul>{% endfor %}
{% else %}
    <ul id="{{ slug }}" class="menu-level-1"></ul>
{% endif %}

<div class="left-panel-phone">
    <a href="tel:0806800971"><img src="{{ asset("bundles/app/images/phone.png") }}" alt="Telephone Sig"/></a>
</div>