{#<div id="diamond-icon-{{ type.slug }}" class="diamond-icon">#}
    {#{% if item.image %}#}
        {#<img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('home_lottype') }}" alt="{{ item.label }}" />#}
    {#{% endif %}#}

    {#<a class="diamond-icon" href="{{ path('lot_type', {'slug': item.slug}) }}"{% if item.image %} style="background-image: url('{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('home_lottype') }}');"{% endif %}>#}
        {#</a>#}
{#</div>#}


<li>
    <div class="diamond-container">
        <a class="diamond" href="{{ path('lot_type', {'slug': item.slug}) }}"{% if item.image %} style="background-image: url('{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('home_lottype') }}');"{% endif %}>
            <div class="content">
                <span>{{ item.label }}</span>
            </div>
        </a>
    </div>
</li>
