{% if menu | length > 1 %}
    {% set lvl_cur = -1 %}
    {% set lvl_obj = 0 %}
    {% set sec_lvl = 2 %}
    {% for i in 1..menu | length -1 %}
        {% set object = menu[i] %}
        {% set lvl_obj = object.lvl %}
        {% if lvl_cur < lvl_obj %}
            {% if loop.first %}
                <ul id="{{ slug }}" class="menu-level-1">
                    {% else %}
                        <ul class="menu-level-{{ lvl_cur + 1 }}">
                        {% if lvl_obj == sec_lvl %}
                            <div class="close-menu"><div>Fermer</div></div>
                            <div class="title-submenu">Title</div>
                        {% endif %}
            {% endif %}
        {% endif %}
        {% if lvl_cur >= lvl_obj %}</li>{% endif %}
        {% if lvl_cur > lvl_obj %}{% for i in lvl_obj..lvl_cur-1 %}</ul></li>
    {% endfor %}
{% endif %}
        <li id="menuItem_{{ object.id }}">
        {{ include(itemTemplate, {'item': object}) }}
        {% set lvl_cur = object.lvl %}
    {% endfor %}
    {% for i in lvl_cur..0 %}</li></ul>{% endfor %}
{% else %}
    <ul id="{{ slug }}" class="menu-level-1"></ul>
{% endif %}