<div class="row link-map">
    {% for menulvl1 in menu %}
        <div class="col-sm-{{ colSize }}">
            <div class="title-footer">{% include 'Partials/menu_item.html.twig' with { 'item': menulvl1.main } %}</div>
            <ul class="menulvl1.main.slug">
                {% for menu in menulvl1.children %}
                    <li>{% include 'Partials/menu_item.html.twig' with { 'item': menu } %}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>