{% if item.route and item.route.route %}
    {% if item.route.route == 'uri' %}{% set uri = item.route.uri %}{% else %}{% set uri = app.request.getBaseURL() ~ '/' ~ item.pathSlug %}{% endif %}
    <a class="menu-item" href="{{ uri }}">{{ item.label }}</a>
{% else %}
    <span class="menu-item">{{ item.label }}</span>
{% endif %}
