<div class="row">
	{% if item.image %}
		<div class="col-sm-3 img">
			<img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('home_news') }}" alt="{{ item.label }}" />
		</div>
	{% endif %}
	<div class="content-article col-sm-9">
		<div>
			<h3>{{ item.label }}</h3>
	    	<p>{{ item.shortDescription | raw }}</p>
		</div>
		<div>
			<a href="{{ path('news', { 'slug': item.slug }) }}">Lire plus <img src="{{ asset("bundles/app/images/read-more.png") }}" alt="Lire plus"/></a>
		</div>
	    
	</div>
	
</div>
<hr>