{% if item.image %}
    {% set imagePath = vich_uploader_asset(item, 'imageFile') %}
{% else %}
    {#{%  set imagePath = asset("bundles/app/images/no-image.png") %}#}
{% endif %}

{#<div class="card inside-full-height">#}
<div class="card">
    {% if imagePath is defined %}<img src="{{ imagePath | imagine_filter('home_news') }}" alt="{{ item.label }}" />{% endif %}
    <div class="card-content">
        <h2><a href="{{ path('news', { 'slug': item.slug }) }}" >{{ item.label }}</a></h2>
        <div class="content-description clearfix">{{ item.shortDescription | raw }}</div>
    </div>
</div>
