<div class="content row row-teaser">
    {#<div class="row-height">#}
    <div class="">
        {% for news in item %}
            {#<div class="col-xs-12 col-sm-6 col-lg-4 col-sm-height">#}
            <div class="col-xs-12 col-sm-6 col-lg-4">
                {% include 'Partials/news_teaser.html.twig' with { 'item': news } %}
            </div>
        {% endfor %}
    </div>
</div>