
{% set imagePath = vich_uploader_asset(item, 'imageFile') %}
{% set link = path('projet', {'slug': item.slug}) %}
{% set label = item.label %}


{% if not imagePath %}
    {%  set imagePath = asset("bundles/app/images/no-image.png") %}
{% endif %}


<div class="lot-type">
    <div class="background" style="background-image: url('{{ imagePath | imagine_filter('projet_w_lot_thumbs') }}')"></div>
    <div class="frontground">
        <h2><a href="{{ link }}">{{ label }}</a></h2>
        <div class="lot-list">
            {% for lottype in item.lots %}
            {%  if lottype.active and ( (type is defined and lottype.lot.type == type) or type is not defined ) %}
                <p><a href="{{ path('projet_lot', {'slug': lottype.projet.slug, 'lot':lottype.lot.slug }) }}">{{ lottype.lot.label }} <span> / {{ lottype.count }} lot{% if lottype.count > 1%}s{% endif %}</span></a></p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>