{% if effect is not defined %}
    {% set effect = 'lily' %}
{% endif %}

{% set imagePath = vich_uploader_asset(item, 'imageFile') %}
{% set link = path('projet', {'slug': item.slug}) %}
{% set label = item.label %}

{% set description = item.section.commune.departement.label ~ " / " ~ item.section.commune.label ~ " / " ~ item.section.label %}


{% include 'Partials/teaser.html.twig' with { link: link, imagePath: imagePath, label: label, description: description } %}
