
{#{% if imagePath is not defined %}#}
    {#{%  set imagePath = asset("bundles/app/images/no-image.png") %}#}
{#{% endif %}#}

<div class="card">
    {#{% if imagePath %}<img src="{{ imagePath | imagine_filter('teaser_thumbs') }}" alt="{{ item.label }}" />{% endif %}#}
    <div class="card-content">
        <h2><a href="{{ path('projet_lot', {'slug': item.projet.slug, 'lot':item.lot.slug }) }}">{{ item.lot.label }}</a></h2>
        {#<p>{{ item.description | raw }}</p>#}
        {#<p><strong>Loyer : </strong>{{ item.loyer }} €</p>#}
        <p><strong>Nombre de lots : </strong>{{ item.count }}</p>
        {#<p><strong>Surface : </strong>{{ item.surface }} m<sup>2</sup></p>#}
        {#<p><strong>Aménagé : </strong>{{ item.amenage }}</p>#}
        {#<p><strong>Accessibilité : </strong>{{ item.accessibilite }}</p>#}
    </div>
</div>

