<div class="slide-proposition">
    {% if item.image %}
    <img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('home_proposition') }}" alt="{{ item.label }}" />
    {% endif %}

    <div>
        <h2>{% if item.route.route %}<a href="{{ route(item.route) }}">{% endif %}{{ item.label }}{% if item.route.route %}</a>{% endif %}</h2>
        <div class="content-description clearfix">{{ item.description | raw }}</div>
    </div>
</div>


