<div class="slide">

    <div class="background">
        {% if item.image %}
        <div style="width:100%;height:100%;background: url('{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('home_slide') }}') no-repeat center;-webkit-background-size: cover;background-size: cover;"></div>
            {#<div class="cut-image">#}
                {#<img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('home_slide') }}" alt="{{ item.label }}" />#}
                {#<img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('home_slide') }}" alt="{{ item.label }}" />#}
            {#</div>#}
        {% endif %}
    </div>

    <div class="frontground">
        {% if item.route.route %}
            <a href="{{ route(item.route) }}">
        {% endif %}
        <div class="content-text">
            <h2>{{ item.label }}</h2>
            <div class="content-description clearfix">{{ item.description | raw }}</div>
        </div>
        {% if item.route.route %}
            </a>
        {% endif %}
    </div>

</div>