{% if not imagePath %}
    {%  set imagePath = asset("bundles/app/images/no-image.png") %}
{% endif %}

<figure class="effect effect-{{ effect }}">
    {% if imagePath %}<a class="no-padding" href="{{ link }}"><img src="{{ imagePath | imagine_filter('teaser_thumbs') }}" alt="{{ label }}" /></a>{% endif %}
    <figcaption>
        <h2><a href="{{ link }}">{{ label }}</a></h2>
        <p>{{ description }}</p>
        <a href="{{ link }}">{{ label }}</a>
    </figcaption>
</figure>
