<nav class="secondary-menu">
    <div class="center-logo">
        <a href="{{ path('homepage') }}">
            <img src="{{ asset("bundles/app/images/logo-sig-mh.png") }}" alt="logo" style="margin-top: -13px;"/>
        </a>
    </div>
    <div class="secondary-menu-nav">
        <ul class="left-menu">
            <li><a href="#" id="trigger" class="menu-trigger"><i class="fa fa-bars"></i></a></li>
            {% render controller('AppBundle:Default:topMenu', {'slug': 'site-secondary'}) %}
        </ul>
        <ul class="right-menu">
            <li><a href="{{ path('search') }}"><span class="fa fa-search" aria-hidden="true"></span><span class="resp-txt">Recherche</span></a></li>
        </ul>
    </div>
</nav>