{% for item in menu if item.lvl == 1 %}
    {% set uri = "#" %}
    {% if item.route and item.route.route %}
        {% if item.route.route == 'uri' %}{% set uri = item.route.uri %}{% else %}{% set uri = app.request.getBaseURL() ~ '/' ~ item.pathSlug %}{% endif %}
    {% endif %}
    <li id="menuItem_{{ item.id }}">
        <a class="menu-item" href="{{ uri }}"><span class="fa fa-{{ item.icon }}" aria-hidden="true"></span><span class="resp-txt">{{ item.label }}</span></a>
    </li>
{% endfor %}
