<div class="slide">

    <div class="background">
        <iframe class="yvideo" width="96%" height="450px" src="https://www.youtube.com/embed/{{ item.video }}" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="sig-title pt-sm pb-sm">
        <h2 class="text-center">{{ item.label }}</h2>
        <p class="text-center">{{ item.description | raw }}</p>
    </div>

</div>