<script type="text/javascript">
    $(document).ready(function() {

        $('#{{ item.children.departement.vars.id }}').on('change keyup', function() {

            {% if item.children.section is defined %}
				$('#{{ item.children.section.vars.id }}').val(null).trigger("change");
				$('#{{ item.children.section.vars.id }}').empty();
				$('#{{ item.children.section.vars.id }}').append('<option></option>');
				$('#{{ item.children.section.vars.id }}').prop("disabled", true);

            {% endif %}

			$('#{{ item.children.commune.vars.id }}').val(null).trigger("change");
			$('#{{ item.children.commune.vars.id }}').empty();
			$('#{{ item.children.commune.vars.id }}').append('<option></option>');
			$('#{{ item.children.commune.vars.id }}').prop("disabled", true);

            $.ajax({
                type: "GET",
                dataType: 'json',
                data: "data=" + $(this).val(),
                url: "{{ path('_communeByDepartementId') }}",
                success: function(data) {
                    if (data != '') {

						$('#{{ item.children.commune.vars.id }}').val(null).trigger("change");
						$('#{{ item.children.commune.vars.id }}').empty();
						$('#{{ item.children.commune.vars.id }}').append('<option></option>');
						$.each(data, function(i, item){
							$('#{{ item.children.commune.vars.id }}').append('<option value="' + item.id+ '">'+item.text+'</option>');
						});
						$('#{{ item.children.commune.vars.id }}').prop("disabled", false);

                    } else {
                        $('#{{ item.children.commune.vars.id }}').html('<em>No item result</em>');
                    }
                }
            });
        });

        {% if item.children.section is defined %}
            $('#{{ item.children.commune.vars.id }}').on('change keyup', function() {


				$('#{{ item.children.section.vars.id }}').val(null).trigger("change");
				$('#{{ item.children.section.vars.id }}').empty();
				$('#{{ item.children.section.vars.id }}').append('<option></option>');
				$('#{{ item.children.section.vars.id }}').prop("disabled", true);


                $('#{{ item.children.section.vars.id }}').html('<em>...</em>');
                $.ajax({
                    type: "GET",
                    dataType: 'json',
                    data: "data=" + $(this).val(),
                    url: "{{ path('_sectionByCommuneId') }}",
                    success: function(data) {
                        if (data != '') {

							$('#{{ item.children.section.vars.id }}').val(null).trigger("change");
							$('#{{ item.children.section.vars.id }}').empty();
							$('#{{ item.children.section.vars.id }}').append('<option></option>');
							$.each(data, function(i, item){
								$('#{{ item.children.section.vars.id }}').append('<option value="' + item.id+ '">'+item.text+'</option>');
							});
							$('#{{ item.children.section.vars.id }}').prop("disabled", false);


                        } else {
                            $('#{{ item.children.section.vars.id }}').html('<em>No item result</em>');
                        }
                    }
                });
            });
        {% endif %}


    });
</script>
