{% extends 'AdminBundle::layout_admin_entity.html.twig' %}

{% block title %}Application - {{ parent() }}{% endblock %}

{% block admin_body %}

	{{ form_start(form, { 'style': 'horizontal', 'label_col': 2, 'widget_col': 10 }) }}
	{{ form_errors(form) }}

	<section class="panel panel-primary">
		<div class="panel-heading"> Informations</div>
		<div class="panel-body bio-graph-info">
			{{ form_row(form.name) }}
			{{ form_row(form.roles) }}
		</div>
	</section>
	<div class="clearfix panel panel-buttons">
		<div style="float:left;">
			{{ form_widget(form.submit) }}
			{{ form_end(form) }}
		</div>
		<div style="float:right;">
			<div class="btn-group record_actions">		
				<a class="btn btn-primary" role="button" href="{{ path('group') }}"> {{ icon('list') }} Retour a la liste</a>	
				<a class="btn btn-danger" role="button" href="{{ path('group_delete', {'id': entity.id}) }}">{{ icon('remove') }} Supprimer</a>	
			</div>
		</div>
	</div>


{% endblock %}
