{% extends 'AdminBundle::layout_admin.html.twig' %}

{% block title %}Application - {{ parent() }}{% endblock %}

{% block admin_body %}
	{% for admin in admins %}
		<div class="col-xs-6 col-sm-4 col-md-2">
			{{ admin | admin_entity('AdminBundle:Partials:template_entity_list.html.twig') }}
		</div>
	{% endfor %}
{% endblock %}