{% extends 'AdminBundle::layout_admin_entity.html.twig' %}

{% block title %}Application - {{ parent() }}{% endblock %}

{% block admin_body %}
	<section class="panel">
		{#				<div class="bio-graph-heading">#}
		{#					<h1><span>Application</span> {{ entity.label }}</h1>#}
		{#				</div>#}
		<div class="panel-body bio-graph-info">
			<h1>{{ entity.name }}</h1>
{#			<p>{{ entity.email }}</p>#}
			<hr />


		</div>
	</section>
<section>
		<div class="panel panel-primary">
			<div class="panel-heading"> Roles</div>
			<div class="panel-body">
				<div class="row">
					{% for role in entity.roles %}
						<div class="bio-row">
							<p>{{ role }}</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix panel panel-buttons">
		<div style="float:right;">
			<div class="btn-group record_actions">		
				<a class="btn btn-primary" role="button" href="{{ path('group') }}"> {{ icon('list') }} Retour a la liste</a>	
			</div>
		</div>
	</div>

{% endblock %}