<!DOCTYPE html>
{% block html_tag %}<html>{% endblock %}
    <head>
        {% block metas %}
            <meta charset="{% block meta_charset %}utf-8{% endblock %}" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="{% block meta_viewport %}{% endblock %}" />
            <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
            <meta name="description" content="{% block meta_description %}{% endblock %}" />
            <meta name="author" content="{% block meta_author %}{% endblock %}" />
        {% endblock %}

        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts_top %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{% block fav_icon %}{% endblock %}" />
        <link rel="apple-touch-icon" href="{% block apple_touch_icon %}{% endblock %}" />
    </head>
    {% block body_tag %}<body>{% endblock %}
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.</p>
    <![endif]-->

    {% block body %}{% block content %}{% endblock %}{% endblock %}
        {% block javascripts_bottom %}{% endblock %}
        {% autoescape false %}{% block javascript_script %}{% endblock %}{% endautoescape %}
    </body>
</html>
