{% extends 'base.html.twig' %}

{% block html_tag %}
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
{% endblock %}

{#{% block body_tag %}<body class="container-fluid">{% endblock %}#}
{% block body_tag %}<body>{% endblock %}

{% block title %}Sig Guadeloupe{% endblock %}
{% block fav_icon %}{{ asset('bundles/app/images/favicon.ico') }}{% endblock %}
{% block apple_touch_icon %}{{ asset('bundles/app/images/apple-touch-icon.png') }}{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta property="og:title" content="{% block og_title %}{% endblock %}" />
    <meta property="og:type" content="{% block og_type %}{% endblock %}" />
    <meta property="og:url" content="{% block og_url %}{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}{% endblock %}" />
{% endblock %}

{% block meta_viewport %}width=device-width, initial-scale=1.0{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_author %}uneak.fr{% endblock %}

{% block content %}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('vendor/normalize.css/normalize.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" media="screen">
	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
	<link href="{{ asset('css/frontend.css') }}" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
{% endblock %}

{% block javascripts_top %}
    {#<script src="{{ asset('vendor/modernizr/modernizr.js') }}" type="text/javascript"></script>#}
    <script src="{{ asset('bundles/app/js/modernizr-custom.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts_bottom %}

    <script src="{{ asset('vendor/jquery/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/classie/classie.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/mlpushmenu.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>


{% endblock %}

{% block javascript_script %}
{% endblock %}