{% extends 'base_front.html.twig' %}

{% block content %}

    <div class="mp-pusher mp-pusher-close" id="mp-pusher">
        <div id="mp-pusher-menu">
            {% include 'Partials/left_panel.html.twig' %}
        </div>
        <div id="mp-pusher-content">
            {% include 'Partials/top_nav.html.twig' %}
            <div id="mp-pusher-body" class="nano">
                <div id="mp-pusher-body-wrapper" class="nano-content">
                    {% block content_body %}{% endblock %}
                    {% include 'Partials/footer.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('vendor/nanoscroller/bin/css/nanoscroller.css') }}" rel="stylesheet" />
    {{ renderAssets('AssetExternalCss') }}
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script src="{{ asset('vendor/mobile-detect/mobile-detect.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/parallax.js/parallax.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/imagesloaded/imagesloaded.pkgd.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/masonry/uneak/masonry.pkgd.js') }}" type="text/javascript"></script>
    {{ renderAssets('AssetExternalJs') }}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74369384-1', 'auto');
        ga('send', 'pageview');

    </script>

{% endblock %}

{% block javascript_script %}
    {{ parent() }}
    <script type="text/javascript">

        var $grid = $('.masonry-grid').masonry({
            itemSelector: '.masonry-grid-item',
            isFitWidth: true
//                columnWidth: 300
//                columnWidth: '.masonry-grid-sizer',
//                percentPosition: true
        });

        $('#mp-pusher-body-wrapper').on('sizeChanged', function(e){
            $grid.masonry('sizeLayout', e.width);
        });

        $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');
        });




        $(".nano").nanoScroller();
        $(".nano").on("update", function(event, values){
            jQuery(window).trigger('resize').trigger('scroll');
        });

        var isResponsiveMenuShow = false;
        var menu = new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
        var md = new MobileDetect(window.navigator.userAgent);

        function refreshResponsiveMenu() {
            var width = $(document).width();
            if (width <= 780) {
                if (isResponsiveMenuShow) {
                    menu._responsiveHideMenu();
                    isResponsiveMenuShow = false;
                }
            } else {
                if (!isResponsiveMenuShow) {
                    menu._responsiveShowMenu();
                    isResponsiveMenuShow = true;
                }
            }
        }

        if (!md.phone() && !md.mobile() && !md.tablet()) {
            $(window).resize(function () {
                refreshResponsiveMenu();
            });

            refreshResponsiveMenu();
        }




    </script>

    {{ renderAssets('AssetInternalJs') }}
{% endblock %}