{% extends 'layout.html.twig' %}

{% block title %}Agences - {{ parent() }}{% endblock %}

{% block content_body %}
    <div class="header">
        <h2>Agences</h2>
    </div>


    <article class="screen color-white pt-md pb-md">

        <div class="masonry-grid">
            <div class="masonry-grid-sizer"></div>
            {% for agence in agences %}
                <div class="masonry-grid-item">
                    {% include 'Partials/agence_teaser.html.twig' with { 'item': agence } %}
                </div>
            {% endfor %}
        </div>

    </article>


{% endblock %}
