{% extends 'layout.html.twig' %}

{% block title %}{{ agence.label }} - Agence - {{ parent() }}{% endblock %}

{% block content_body %}

    <div class="header">
        <h2>{{ agence.label }}</h2>
        <p class="date-label">{{ agence.commune.label }} / {{ agence.commune.departement.label }}</p>
    </div>

    <article class="screen color-white pt-sm pb-sm">
        <div class="content row row-teaser">
            <div class="col-lg-4">
                <div id='sig-map' style="width: 100%;height: 300px;"></div>
            </div>
            <div class="col-lg-8">
                <div class="agency" style="width: 100%;height: 300px;">
                    {#<h2><a href="{{ path('agence', {'slug': agence.slug }) }}">{{ agence.label }}</a></h2>#}
                    <h2>{{ agence.label }}</h2>
                    <div class="agency-adress">
                        <p>{{ agence.adresse1 }}</p>
                        <p>{{ agence.adresse2 }}</p>
                        <p>{{ agence.commune.cp }} - {{ agence.commune.label }}</p>
                    </div>
                    <div class="agency-tel">
                        <div><strong>Téléphone :</strong> <a href="tel:{{ agence.phone }}">{{ agence.phone }}</a></div>
                    </div>
                    <div class="agency-mail">
                        <div><strong>Email :</strong> <a href="mailto:{{ agence.email }}">{{ agence.email }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </article>





    {% if collaborateurs | length %}
        <article class="screen color-white pt-sm pb-sm">
            <div class="content row row-teaser">
                {% for collaborateur in collaborateurs %}
                    <div class="col-xs-12 col-sm-6">
                        {% include 'Partials/agence_collaborateur_teaser.html.twig' with { 'item': collaborateur } %}
                    </div>
                {% endfor %}
            </div>
        </article>
    {% endif %}


    {% if projets | length %}
        <article class="screen color-grey-agency pt-sm pb-sm">
            <div class="content row row-teaser">
                {% for projet in projets %}
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        {% include 'Partials/projet_teaser.html.twig' with { 'item': projet } %}
                    </div>
                {% endfor %}
            </div>
        </article>
    {% endif %}

{% endblock %}



{% block javascripts_bottom %}
    {{ parent() }}
    <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js') }}" type="text/javascript"></script>
{% endblock %}


{% block javascript_script %}
    {{ parent() }}
    {%  if agence.location.location.latitude is defined %}
        <script type="text/javascript">
            $(document).ready(function () {


                var LatLng = new google.maps.LatLng({{ agence.location.location.latitude }},{{ agence.location.location.longitude }});

                var map = new google.maps.Map(document.getElementById('sig-map'), {
                    zoom: 14,
                    center: LatLng,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.SMALL
                    },
                    disableDoubleClickZoom: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    scrollwheel: false,
                    panControl: false,
                    streetViewControl: false,
                    styles: [
                        {
                            "featureType": "all",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "saturation": 36
                                },
                                {
                                    "color": "#ffffff"
                                },
                                {
                                    "lightness": "0"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#348d46"
                                },
                                {
                                    "weight": "3"
                                },
                                {
                                    "lightness": "0"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "weight": 1.2
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                },
                                {
                                    "weight": "3"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.natural.terrain",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "lightness": "5"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.business",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "10"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.government",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.medical",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "10"
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.place_of_worship",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.school",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.sports_complex",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "lightness": "-50"
                                },
                                {
                                    "weight": "0.5"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "30"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "weight": "0.5"
                                },
                                {
                                    "lightness": "-50"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                },
                                {
                                    "weight": "3"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "weight": "0.5"
                                },
                                {
                                    "lightness": "-50"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "10"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "weight": "0.5"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                },
                                {
                                    "lightness": "10"
                                },
                                {
                                    "weight": "1"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                },
                                {
                                    "lightness": 17
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        }
                    ]
                });


                var marker = new google.maps.Marker({
                    position: LatLng,
                    map: map
                });



            });
        </script>
    {% endif %}
    

{% endblock %}

