{% extends 'layout.html.twig' %}

{% block title %}Articles - {{ parent() }}{% endblock %}

{% block content_body %}

    <div class="header">
        <h2>Articles</h2>
    </div>

    <div class="list-categorie">
        {% for newsCategory in newsCategories %}
            {% include 'Partials/news_category_teaser.html.twig' with { 'item': newsCategory } %}
        {% endfor %}
    </div>


{% endblock %}

