{% extends 'UneakFlatSkinBundle::layout_admin.html.twig' %}

{% block title %}Configuration - {{ parent() }}{% endblock %}

{% block content_page %}


	<div class="row">
		<div class="profile-info col-lg-12">
			{% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
		</div>
	</div>
	<div class="row">
		<div class="profile-info col-lg-4">
			{{ renderBlockManager('config_left') }}
		</div>
		<div class="profile-info col-lg-4">
			{{ renderBlockManager('config_middle') }}
		</div>
		<div class="profile-info col-lg-4">
			{{ renderBlockManager('config_right') }}
		</div>
	</div>
{% endblock %}