{% extends 'UneakFlatSkinBundle::layout_admin.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content_page %}


	<div class="row">
		<div class="profile-info col-lg-12">
			{% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
			{{ renderBlockManager('config_left', '<hr/>') }}
		</div>
	</div>
	<div class="row">
		<div class="profile-info col-lg-8">

		</div>
		<div class="profile-info col-lg-4">
			{{ renderBlockManager('config_right') }}
		</div>
	</div>
{% endblock %}