{% extends 'layout.html.twig' %}

{% block title %}Galeries - {{ parent() }}{% endblock %}

{% block content_body %}

    <div class="header">
        <h2>Galeries</h2>
    </div>

    <article class="screen color-white pt-md pb-md">

        <div class="masonry-grid">
            <div class="masonry-grid-sizer"></div>
            {% for galerieType in galerieTypes %}
                <div class="masonry-grid-item">
                    {% include 'Partials/galerie_type_teaser.html.twig' with { 'item': galerieType } %}
                </div>
            {% endfor %}
        </div>

    </article>


{% endblock %}

