{% extends 'layout.html.twig' %}

{% block title %}{{ galerie.label }} - Galerie - {{ parent() }}{% endblock %}

{% block content_body %}

    {% if galerie.image %}
        <div class="cut-image">
            <h2>{{ galerie.label }}</h2>
            <img src="{{ vich_uploader_asset(galerie, 'imageFile') | imagine_filter('header_page') }}" alt="{{ galerie.label }}" />
            <img src="{{ vich_uploader_asset(galerie, 'imageFile') | imagine_filter('header_page') }}" alt="{{ galerie.label }}" />
        </div>
    {% endif %}

    <div class="{% if galerie.image %}content-header content{% else %}header{% endif %}">
        <h2>{{ galerie.label }}</h2>
    </div>

    <article class="screen color-white pt-sm pb-sm">
        <div class="content">
            <div class="content-description clearfix">{{ galerie.description | raw }}</div>
        </div>
    </article>

    <article class="screen color-white pt-md pb-md">

        {% include 'Partials/images_block.html.twig' with { 'images': galerie.images } %}

    </article>



{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/photoswipe/dist/photoswipe.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/photoswipe/dist/default-skin/default-skin.css') }}">
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
			 It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Fermer (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Partager"></button>

                    <button class="pswp__button pswp__button--fs" title="Mettre en plein écran"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoomer"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Précédente">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Suivante">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

    <script src="{{ asset('vendor/photoswipe/dist/photoswipe.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/photoswipe/dist/photoswipe-ui-default.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascript_script %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

//            var $grid = $('.js-masonry').masonry({
//                columnWidth: 300,
//                itemSelector: '.grid-item'
//            });
//
//            $grid.imagesLoaded().progress( function() {
//                $grid.masonry('layout');
//            });

//            $('#mp-pusher-body-wrapper').resize(function () {
//                console.log("wrapperresize");
//                $grid.masonry('layout');
//            });

        });
    </script>


{% endblock %}
