{% extends 'layout.html.twig' %}

{% block title %}{{ type.label }} - Galerie - {{ parent() }}{% endblock %}

{% block content_body %}

    {% if type.image %}
        <div class="cut-image">
            <h2>{{ type.label }}</h2>
            <img src="{{ vich_uploader_asset(type, 'imageFile') | imagine_filter('header_page') }}" alt="{{ type.label }}" />
            <img src="{{ vich_uploader_asset(type, 'imageFile') | imagine_filter('header_page') }}" alt="{{ type.label }}" />
        </div>
    {% endif %}

    <div class="{% if type.image %}content-header content{% else %}header{% endif %}">
        <h2>{{ type.label }}</h2>
    </div>


    <article class="screen color-white pt-md pb-md">

        <div class="masonry-grid">
            <div class="masonry-grid-sizer"></div>
            {% for galerie in galeries %}
                <div class="masonry-grid-item">
                    {% include 'Partials/galerie_teaser.html.twig' with { 'item': galerie } %}
                </div>
            {% endfor %}
        </div>

    </article>


{#<div class="common">#}
    {#<div class="article-picture">#}
        {#<img src="{{ vich_uploader_asset(type, 'imageFile') }}" alt="" />#}
    {#</div>#}
    {#<h2>{{ type.label }}</h2>#}

    {#{% for galerie in galeries %}#}
        {##}
    {#{% endfor %}#}
{#</div>#}

{% endblock %}

