{% extends 'layout.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content_body %}

    {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}

    <article class="screen full slider-home">
        {% include 'Partials/slider_home.html.twig' with { 'item': slider } %}
    </article>

    <article class="screen color-white pt-md pb-md quick-link">
        {#<div class="sig-title pb-sm">#}
            {#<h2 class="text-center">Access direct</h2>#}
            {#<p class="text-center">Accéder directement a nos rubriques</p>#}
        {#</div>#}
        {% include 'Partials/home_nav.html.twig' %}
    </article>


    {% if slider[0].image is defined %}
        {% set parallaxImage = vich_uploader_asset(slider[0], 'imageFile') | imagine_filter('parallax_scroll') %}
        <div class="parallax-window" style="min-height: 75%;" data-parallax="scroll" data-speed="0.2" data-naturalWidth="1920" data-naturalHeight="1600" data-image-src="{{ parallaxImage }}"></div>
    {% endif %}

    <article class="screen color-grey-agency pt-md pb-md lot-type">
        <div class="sig-title pb-sm">
            <h2 class="text-center">Notre parc immobilier</h2>
            {#<p class="text-center">Accéder directement a nos rubriques</p>#}
        </div>
        {#<div class="sig-title pb-sm">#}
            {#<h2>Notre parc immobilier</h2>#}
            {#<p>Retrouvez tout notre parc immobilier sur la carte.</p>#}
        {#</div>#}
        {#<div class="sig-title pb-sm">#}
            {#<h2 class="text-center">Rechercher un lot par type</h2>#}
            {#&#123;&#35;<p class="text-center">Bla Bla Bla Bla Bla Bla Bla </p>&#35;&#125;#}
        {#</div>#}
        {% include 'Partials/lottype_block.html.twig' with { 'item': lotTypes } %}
    </article>

    <article class="screen color-white full search-map">
        <div class="search-map-title">
            <div class="sig-title">
                {#<h2>Notre parc immobilier</h2>#}
                <p>Retrouvez tout notre parc immobilier sur la carte.</p>
            </div>
        </div>
        <div class="search-map-form">
            <div class="input-group">
                <select class="form-control" id="address" onchange="codeAddress()">
                    <option value="Guadeloupe">Sélectionner la commune</option>
                    {% for commune in communes %}
                        <option value="{{ commune.departement.label }} {{ commune.label }} ">{{ commune.departement.label }} {{ commune.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id='sig-map'></div>
    </article>

    {% if slider[1].image is defined %}
        {% set parallaxImage = vich_uploader_asset(slider[1], 'imageFile') | imagine_filter('parallax_scroll') %}
        <div class="parallax-window" style="min-height: 75%;" data-parallax="scroll" data-speed="0.2" data-naturalWidth="1920" data-naturalHeight="1600" data-image-src="{{ parallaxImage }}"></div>
    {% endif %}

    <article class="screen color-black pt-md pb-md text-center home-video">
        {% include 'Partials/videos_home.html.twig' with { 'item': videos } %}
    </article>


    {% if slider[2].image is defined %}
        {% set parallaxImage = vich_uploader_asset(slider[2], 'imageFile') | imagine_filter('parallax_scroll') %}
        <div class="parallax-window" style="min-height: 75%;" data-parallax="scroll" data-speed="0.2" data-naturalWidth="1920" data-naturalHeight="1600" data-image-src="{{ parallaxImage }}"></div>
    {% endif %}

    {% if news %}
        <article class="screen color-white pt-md pb-sm slide-article">
            <div class="sig-title pb-md">
                <h2 class="text-center">Actualités</h2>
                <p class="text-center"></p>
            </div>
            {% include 'Partials/news_block.html.twig' with { 'item': news } %}
            <div class="more"><a href="{{ path('newscategorie', {slug:'blog-category'}) }}">+ d’actualités</a></div>
        </article>
    {% endif %}

    <article class="screen color-grey-agency pt-sm pb-md slide-bon-plan">
        {% include 'Partials/slider_proposition.html.twig' with { 'item': propositions } %}
    </article>


    <article class="screen color-green pt-md pb-md slide-contact">

        <div class="sig-title pb-sm">
            <h2 class="text-center">Contactez nous</h2>
            <p class="text-center"></p>
        </div>


        <div id="contact-form">
            {{ contactFormRender | raw }}
        </div>

        <div class="text-center">
            <button id="contact-submit" type="button" class="btn-sig">Envoyez</button>
        </div>


    </article>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/slick-carousel/slick/slick.css') }}">

{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js" type="text/javascript"></script>
    <script src="{{ asset('vendor/slick-carousel/slick/slick.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/plugins.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/google-map.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascript_script %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

            //
            // FORM CONTACT
            //
            $("#contact-submit").on("click", function(e) {
                e.preventDefault();
                var $form = $("#contact-form form");

                var values = {};
                $.each($form.serializeArray(), function(i, field) {
                    values[field.name] = field.value;
                });

                $.ajax({
                    type: $form.attr('method'),
                    url: "{{ path('home_contact_form') }}",
                    data: values
                }).done(function(data) {
                    $('#contact-form').html(data);
                });

            });


            //
            //  GOOGLE MAP PROJETS
            //
            {#$.ajax({#}
                {#method: "GET",#}
                {#url: "{{ path("home_ggm_projets") }}",#}
                {#dataType: "json"#}
            {#})#}
            {#.done(function( data ) {#}
                {#initMap(data, "{{ asset('js/json/picto-map.png') }}");#}
            {#});#}


            initMap({{ ggmap | raw }}, "{{ asset('js/json/picto-map.png') }}");


        });
    </script>


{% endblock %}
