{% extends 'layout.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content_body %}

    <div class="header">
        <h2>{{ type.label }}</h2>
    </div>

    {% if projets | length %}
        <article class="screen color-white pt-md pb-md">
            {#<div class="content row row-teaser masonry-grid">#}
            <div class="masonry-grid">
                <div class="masonry-grid-sizer"></div>
                {% for projet in projets %}
                    <div class="masonry-grid-item">
                    {#<div class="col-xs-12 col-sm-6 col-lg-4">#}
                        {% include 'Partials/projet_w_lot_teaser.html.twig' with { 'item': projet, 'type': type } %}
                    {#</div>#}
                    </div>
                {% endfor %}
            </div>
        </article>
    {% endif %}


{% endblock %}