{% extends 'layout.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content_body %}

    <div class="header">
        <h2>{{ categorie.label }}</h2>
    </div>


    <article class="screen color-white pt-md pb-md">

        <div class="masonry-grid">
            <div class="masonry-grid-sizer"></div>
            {% for news in news %}
                <div class="masonry-grid-item">
                    {% include 'Partials/news_teaser.html.twig' with { 'item': news } %}
                </div>
            {% endfor %}
        </div>

    </article>


{% endblock %}


