{% extends 'layout.html.twig' %}

{% block title %}{{ page.label }} - {{ parent() }}{% endblock %}

{% block content_body %}

    {% if page.image %}
        <div class="cut-image">
            <h2>{{ page.label }}</h2>
            <img src="{{ vich_uploader_asset(page, 'imageFile') | imagine_filter('header_page') }}" alt="{{ page.label }}" />
            <img src="{{ vich_uploader_asset(page, 'imageFile') | imagine_filter('header_page') }}" alt="{{ page.label }}" />
        </div>
    {% endif %}

    <div class="{% if page.image %}content-header content{% else %}header{% endif %}">
        <h2>{{ page.label }}</h2>
    </div>


    <article class="screen color-white pt-sm pb-md">
        <div class="content">
            <div class="content-description clearfix">{{ page.description | raw }}</div>
        </div>
    </article>

{% endblock %}
