{% extends 'layout.html.twig' %}

{% block title %}{{ projetLot.lot.label }} - {{ projetLot.projet.label }} - {{ parent() }}{% endblock %}

{% block content_body %}


    <div class="header">
        <h2>{{ projetLot.lot.label }}</h2>
        <p class="date-label">{{ projetLot.lot.type.label }}</p>
    </div>

    <article class="screen color-white pt-sm pb-sm">
        <div class="content">
            <div class="content-description clearfix">{{ projetLot.description | raw }}</div>

            <ul class="item-spec">
                {% if projetLot.loyer %}<li><strong>Loyer : </strong>{{ projetLot.loyer }} €</li>{% endif %}
                {% if projetLot.count %}<li><strong>Nombre de lots : </strong>{{ projetLot.count }}</li>{% endif %}
                {% if projetLot.surface %}<li><strong>Surface : </strong>{{ projetLot.surface }} m<sup>2</sup></li>{% endif %}
                {% if projetLot.amenage %}<li><strong>Aménagé</strong></li>{% endif %}
                {% if projetLot.accessibilite %}<li><strong>Accessibilité</strong></li>{% endif %}
            </ul>

            {% if projetLot.images %}
                {% include 'Partials/images_block.html.twig' with { 'images': projetLot.images } %}
            {% endif %}
        </div>
    </article>


    {% if projetLot.projet.image %}
        {% set parallaxImage = vich_uploader_asset(projetLot.projet, 'imageFile') | imagine_filter('parallax_scroll') %}
        <div class="parallax-window" style="min-height: 75%;" data-parallax="scroll" data-speed="0.2" data-naturalWidth="1920" data-naturalHeight="1600" data-image-src="{{ parallaxImage }}"></div>
    {% endif %}

    <article class="screen color-white pt-md pb-md">
        <div class="content row row-teaser">
            <div class="col-xs-12 col-sm-6">
                {% include 'Partials/projet_teaser.html.twig' with { 'item': projetLot.projet } %}
            </div>
            <div class="col-xs-12 col-sm-6">
                {% include 'Partials/agence_teaser.html.twig' with { 'item': projetLot.projet.agence } %}
            </div>
        </div>
    </article>



    {#<h2>projet</h2>#}
    {#{% include 'Partials/projet_teaser.html.twig' with { 'item': projetLot.projet } %}#}


{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/photoswipe/dist/photoswipe.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/photoswipe/dist/default-skin/default-skin.css') }}">
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
			 It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Fermer (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Partager"></button>

                    <button class="pswp__button pswp__button--fs" title="Mettre en plein écran"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoomer"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Précédente">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Suivante">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

    <script src="{{ asset('vendor/photoswipe/dist/photoswipe.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/photoswipe/dist/photoswipe-ui-default.js') }}" type="text/javascript"></script>
{% endblock %}
