{% extends 'layout.html.twig' %}

{% block title %}{{ projet.label }} - {{ parent() }}{% endblock %}

{% block content_body %}


    {% if projet.image %}
        {% set parallaxImage = vich_uploader_asset(projet, 'imageFile') | imagine_filter('parallax_scroll') %}
        {#<div class="parallax-window" data-parallax="scroll" data-naturalWidth="{{ parallaxImage | resolutionWidth }}" data-naturalHeight="{{ parallaxImage | resolutionHeight }}" data-image-src="{{ parallaxImage }}"></div>#}
        <div class="parallax-window" style="min-height: 75%;" data-parallax="scroll" data-speed="0.2" data-naturalWidth="1920" data-naturalHeight="1600" data-image-src="{{ parallaxImage }}"></div>

        {#<div class="cut-image">#}
            {#<h2>{{ projet.label }}</h2>#}
            {#<img src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('header_page') }}" alt="{{ projet.label }}" />#}
            {#<img src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('header_page') }}" alt="{{ projet.label }}" />#}
        {#</div>#}
        <div class="cut-title">
            <h2>{{ projet.label }}</h2>
        </div>
    {% endif %}


    <div class="{% if projet.image %}content-header content{% else %}header{% endif %}">
        <h2>{{ projet.label }}</h2>
        <p class="date-label">{{ projet.section.label }} / {{ projet.section.commune.label }} / {{ projet.section.commune.departement.label }}</p>
        {% if projet.year %}<p class="date-label"><strong>Année : </strong>{{ projet.year }}</p>{% endif %}
    </div>

    <article class="screen color-white pt-sm pb-sm">
        <div class="content">
            <div class="content-description clearfix">{{ projet.description | raw }}</div>
        </div>
    </article>

    {%  if projet.lots | length %}
        <article class="screen color-white pt-sm pb-sm">
            <div class="content row row-teaser">
                {% for lot in projet.lots %}
                    {%  if lot.active %}
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        {% include 'Partials/projet_lot_teaser.html.twig' with { 'item': lot } %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </article>
    {% endif %}

    {% if projet.images | length %}
        {% set parallaxImage = vich_uploader_asset(projet.images[0], 'imageFile') | imagine_filter('parallax_scroll') %}
        {#<div class="parallax-window" data-parallax="scroll" data-naturalWidth="{{ parallaxImage | resolutionWidth }}" data-naturalHeight="{{ parallaxImage | resolutionHeight }}" data-image-src="{{ parallaxImage }}"></div>#}
        <div class="parallax-window" data-parallax="scroll" data-speed="0.2" data-naturalWidth="1920" data-naturalHeight="1600" data-image-src="{{ parallaxImage }}"></div>
    {% endif %}

    <article class="screen color-grey-agency pb-sm">
        <div class="content">
            <p class="contact-agence">Pour plus d'informations, veuillez contacter l'agence <a href="{{ path('agence', {slug: projet.agence.slug}) }}">{{ projet.agence.label }}</a></p>
        </div>
    </article>

    <article class="screen color-white pt-sm pb-sm">
        <div class="content row">
            {% if projet.images %}
                <div class="col-lg-4 reset-col-padding">
                    <div id='sig-map' style="width: 100%;height: 300px;"></div>
                </div>
                <div class="col-lg-8">
                    {% include 'Partials/images_block.html.twig' with { 'images': projet.images } %}
                </div>
            {% else %}
                <div class="col-lg-12 reset-col-padding">
                    <div id='sig-map' style="width: 100%;height: 300px;"></div>
                </div>
            {% endif %}
        </div>
    </article>





{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/photoswipe/dist/photoswipe.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/photoswipe/dist/default-skin/default-skin.css') }}">
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
			 It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Fermer (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Partager"></button>

                    <button class="pswp__button pswp__button--fs" title="Mettre en plein écran"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoomer"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Précédente">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Suivante">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

    <script src="{{ asset('vendor/photoswipe/dist/photoswipe.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/photoswipe/dist/photoswipe-ui-default.js') }}" type="text/javascript"></script>
    <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascript_script %}
    {{ parent() }}
    {%  if projet.location.location.latitude is defined %}
        <script type="text/javascript">
            $(document).ready(function () {


                var LatLng = new google.maps.LatLng({{ projet.location.location.latitude }},{{ projet.location.location.longitude }});

                var map = new google.maps.Map(document.getElementById('sig-map'), {
                    zoom: 14,
                    center: LatLng,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.SMALL
                    },
                    disableDoubleClickZoom: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    scrollwheel: false,
                    panControl: false,
                    streetViewControl: false,
                    styles: [
                        {
                            "featureType": "all",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "saturation": 36
                                },
                                {
                                    "color": "#ffffff"
                                },
                                {
                                    "lightness": "0"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#348d46"
                                },
                                {
                                    "weight": "3"
                                },
                                {
                                    "lightness": "0"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "weight": 1.2
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                },
                                {
                                    "weight": "3"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.natural.terrain",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "lightness": "5"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.business",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "10"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.government",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.medical",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "10"
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.place_of_worship",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.school",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.sports_complex",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "lightness": "-50"
                                },
                                {
                                    "weight": "0.5"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "30"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "weight": "0.5"
                                },
                                {
                                    "lightness": "-50"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                },
                                {
                                    "weight": "3"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "20"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "weight": "0.5"
                                },
                                {
                                    "lightness": "-50"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "10"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "weight": "0.5"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#348d46"
                                },
                                {
                                    "lightness": "10"
                                },
                                {
                                    "weight": "1"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                },
                                {
                                    "lightness": 17
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        }
                    ]
                });


                var marker = new google.maps.Marker({
                    position: LatLng,
                    map: map
                });



            });
        </script>
    {% endif %}
{% endblock %}
