{% extends 'layout.html.twig' %}

{% block title %}Projets - {{ parent() }}{% endblock %}

{% block content_body %}

    <div class="header">
        <h2>Projets</h2>
    </div>

    {% if projets | length %}
        <article class="screen color-white pt-md pb-md">
            <div class="content row row-teaser">
                {% for projet in projets %}
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        {% include 'Partials/projet_teaser.html.twig' with { 'item': projet } %}
                    </div>
                {% endfor %}
            </div>
        </article>
    {% endif %}

{% endblock %}