{% extends 'layout.html.twig' %}

{% block title %}Recherche - {{ parent() }}{% endblock %}

{% block content_body %}

    <div class="header">
        <h2>Recherche</h2>
    </div>

    <article class="screen color-white pt-sm pb-md">
        <div class="row content">
            {{ form_start(form, { 'style': 'vertical', 'attr': {'class': 'tasi-form', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}


            <div class="search-type row">
                <div class="col-md-12">
                    {{ form_row(form.type) }}
                </div>
            </div>

            <div class="search-content row">
                <div class="col-md-12">
                    {{ form_row(form.content) }}
                </div>
            </div>

            <div class="search-localisation row">
                <div class="col-sm-4">
                    {{ form_row(form.departement) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.commune) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.section) }}
                </div>
            </div>

            <div class="search-projet row">
                <div class="col-md-6">
                    {{ form_row(form.lot) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.year) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Rechercher</button>

            {{ form_end(form) }}
        </div>
    </article>


    <div>

        <!-- Nav tabs -->
        <article class="screen color-grey-agency pt-xs pb-xs">
            <ul class="content nav nav-pills nav-justified" role="tablist">
                {% if r_projets | length %}<li role="presentation" class="active"><a href="#projet" aria-controls="projet" role="tab" data-toggle="tab">Projets <span class="badge">{{ r_projets | length }}</span></a></li>{% endif %}
                {% if r_agences | length %}<li role="presentation"><a href="#agence" aria-controls="agence" role="tab" data-toggle="tab">Agences <span class="badge">{{ r_agences | length }}</span></a></li>{% endif %}
                {% if r_news | length %}<li role="presentation"><a href="#article" aria-controls="article" role="tab" data-toggle="tab">Articles <span class="badge">{{ r_news | length }}</span></a></li>{% endif %}
                {% if r_pages | length %}<li role="presentation"><a href="#page" aria-controls="page" role="tab" data-toggle="tab">Pages <span class="badge">{{ r_pages | length }}</span></a></li>{% endif %}
            </ul>
        </article>
        <!-- Tab panes -->
        <div class="tab-content">

            {% if r_projets | length %}
                <div role="tabpanel" class="tab-pane active" id="projet">
                    <article class="screen color-white pt-xs pb-md">
                        <div class="masonry-grid">
                            <div class="masonry-grid-sizer"></div>
                            {% for projet in r_projets %}
                                <div class="masonry-grid-item">
                                    {% include 'Partials/projet_w_lot_teaser.html.twig' with { 'item': projet } %}
                                </div>
                            {% endfor %}
                        </div>
                    </article>
                </div>
            {% endif %}

            {% if r_agences | length %}
                <div role="tabpanel" class="tab-pane" id="agence">
                    <article class="screen color-white pt-xs pb-md">

                        <div class="masonry-grid">
                            <div class="masonry-grid-sizer"></div>
                            {% for agence in r_agences %}
                                <div class="masonry-grid-item">
                                    {% include 'Partials/agence_teaser.html.twig' with { 'item': agence } %}
                                </div>
                            {% endfor %}
                        </div>

                    </article>
                </div>
            {% endif %}

            {% if r_news | length %}
                <div role="tabpanel" class="tab-pane" id="article">
                    <article class="screen color-white pt-xs pb-md">

                        <div class="masonry-grid">
                            <div class="masonry-grid-sizer"></div>
                            {% for news in r_news %}
                                <div class="masonry-grid-item">
                                    {% include 'Partials/news_teaser.html.twig' with { 'item': news } %}
                                </div>
                            {% endfor %}
                        </div>

                    </article>
                </div>
            {% endif %}

            {% if r_pages | length %}
                <div role="tabpanel" class="tab-pane" id="page">
                    <article class="screen color-white pt-xs pb-md">

                        <div class="masonry-grid">
                            <div class="masonry-grid-sizer"></div>
                            {% for page in r_pages %}
                                <div class="masonry-grid-item">
                                    {% include 'Partials/page_teaser.html.twig' with { 'item': page } %}
                                </div>
                            {% endfor %}
                        </div>

                    </article>
                </div>
            {% endif %}

        </div>

    </div>

{% endblock %}




{% block javascript_script %}
    {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function() {


                $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
                    $grid.masonry('layout');
                })


                function inArray(needle, haystack) {
                    if (!haystack) {
                        return false;
                    }
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                }
                
                
                function refreshSearchForm() {

                    var $type = $('#appbundle_search_type');

                    var content = false;
                    var localisation = false;
                    var projet = false;

                    content = (content || inArray( 'page', $type.val() ));
                    content = (content || inArray( 'news', $type.val() ));
                    content = (content || inArray( 'agence', $type.val() ));
                    content = (content || inArray( 'projet', $type.val() ));

                    localisation = (localisation || inArray( 'agence', $type.val() ));
                    localisation = (localisation || inArray( 'projet', $type.val() ));

                    projet = (projet || inArray( 'projet', $type.val() ));

                    if (content) {
                        $('.search-content').show();
                    } else {
                        $('.search-content').hide();
                    }

                    if (localisation) {
                        $('.search-localisation').show();
                    } else {
                        $('.search-localisation').hide();
                    }

                    if (projet) {
                        $('.search-projet').show();
                    } else {
                        $('.search-projet').hide();
                    }

                }

                $('#appbundle_search_type').on('change keyup', function() {
                    refreshSearchForm()
                });

                refreshSearchForm();


            });
        </script>


{% endblock %}


