CKEDITOR.dialog.add( 'news', function( editor ) {

    return {

        title: 'Edition du block actualité',
        minWidth: 300,
        minHeight: 70,
        contents: [
            {
                id: 'info',
                elements: [
                    {
                        id: 'newsId',
                        type: 'select',
                        label: 'Actualité',
                        items: [
                        {% for news in items %}
                            [ '{{ news.label | raw }}', '{{ news.id }}' ],
                        {% endfor %}
                        ],
                        setup: function( widget ) {
                            this.setValue( widget.data.newsId );
                        },
                        commit: function( widget ) {
                            widget.setData( 'newsId', this.getValue() );
                        }
                    }
                ]
            }
        ]

    };
} );