{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_title %}Inscription{% endblock fos_user_title %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
