.h2-title {
  background: url($img-title-roof-dot) no-repeat 53%;
  height: image-height($img-title-roof-dot);
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  @include font-size(2);
}

.cut-title {
  position: relative;
  background-color: transparent;
  width: 100%;

  & > h2 {
    font-family: 'font-script-medium';
    font-size: 62px;
    margin-bottom: -16px !important;
    color: $color-white !important;
    text-transform: lowercase !important;

    position: absolute;
    width: 100%;
    z-index: 3;
    text-align: center;
    bottom: image-height($img-roof) - 62px;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: image-height($img-roof);
    bottom: 0px;

    background: url($img-roof) no-repeat 50% 50%;
    background-size: contain;
    z-index: 2;
  }

}

.cut-image {
  position: relative;
  overflow: hidden;

  & > h2 {
    font-family: 'font-script-medium';
    font-size: 62px;
    margin-bottom: -16px !important;
    color: $color-white !important;
    text-transform: lowercase !important;

    position: absolute;
    width: 100%;
    height: auto;
    z-index: 3;
    text-align: center;
    bottom: 20%;
  }

  & > img:nth-child(2) {
    position: absolute;
    width: 100%;
    height: auto;
     @include clip-path(polygon(0 0, 0% 0, 66% 100%, 0 100%,0 0));
     @include filter(blur(3px) brightness(110%));
    z-index: 1;
  }
  & > img:nth-child(3) {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 33%;
    bottom: 0px;
    left: 0px;
    background: url($img-roof) no-repeat 50% 50%;
    background-size: contain;
    z-index: 2;
  }

}


.reset-col-padding {
  padding-left: 0px;
  padding-right: 0px;
}


.pt-md {
  padding-top: $padding-md;
}

.pb-md {
  padding-bottom: $padding-md;
}

.pt-sm {
  padding-top: $padding-sm;
}

.pb-sm {
  padding-bottom: $padding-sm;
}

.pt-xs {
  padding-top: $padding-xs;
}

.pb-xs {
  padding-bottom: $padding-xs;
}


.sig-title {

  .color-white & {
    color: $color-black;
  }

  .color-grey &,
  .color-green &,
  .color-black & {
    color: $color-white;
  }

  h2 {
    font-family: 'font-script-medium';
    font-size: 62px;
    margin-top: 0px;
    margin-bottom: -16px;
//    text-transform: lowercase;
    position: relative;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      width: image-width($img-title-roof);
      height: image-height($img-title-roof);

      background: url($img-title-roof) no-repeat;

      left: 50%;
      margin-left: -1 * image-width($img-title-roof) / 2;
      z-index: -1;

    }
  }

  p {
    font-family: 'font-light';
    text-align: center;
  }

}



.block-v-aligner {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.block-v-aligner-wrapper {
  display:block;
  margin: 0px auto;
}


.card {
  position: relative;
  background-color: $color-grey-agency;

  @include border-radius(4px);
  @include box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.3));

  img {
    position: relative;
    width: 100%;
    height: auto;
  }
  .card-content {
    position: relative;
    padding: 20px;

    h2 {
      margin: 0px;
      padding: 0px !important;
      a {
        padding: 5px 10px;
        text-transform: uppercase;
        background-color: $color-green-sig;
        color: $color-white;
//        margin-top: 10px;
        display: inline-block;
        text-decoration: none;

        &:hover {
          background-color: $color-green-sig-hover;
        }
      }
    }

    .content-description {
      margin-top: 10px;
    }

    p {
      margin: 0px;
      margin-top: 10px;
    }
  }
}


.social-icon {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;

}

#mp-pusher-body-wrapper {

  font-family: 'font-regular';

  padding-left: 0px;
  padding-right: 0px;

  .header {
    background-color: $color-grey-agency;
    padding: $padding-sm;
    padding-bottom: 10px;
    padding-top: 160px;
  }

  .content-header {
    background-color: $color-white;
  }

  .content {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
    margin-left: 0px;
    margin-right: 0px;
  }

  .header,
  .content {

    h1{
      text-transform: uppercase;
    }
    h2{
      margin: 0px;
      padding-top: $padding-sm;
      padding-bottom: $padding-sm;
      color: $color-red-sig;
      text-transform: uppercase;
    }
    .date-label{
      font-family: 'font-light';
      @include font-size(1.2);
      color: $color-grey-sig;
      top: -16px;
      position: relative;
    }
  }

  .article-picture{
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
    p{
      position: absolute;
      bottom: 0;
      left: 10px;
      background: $color-green-sig ;
      color: $color-white;
      padding: 2px 10px;
    }
  }

  a.sticker {
    @include font-size(1.3);
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: $color-green-sig;
    color: $color-white;
    margin-top: 10px;
    display: inline-block;

    &:hover {
      background-color: $color-green-sig-hover;
    }
  }

  .small-text{
    @include font-size(1.2);
    font-style: italic;
  }



  ul.item-spec {
    font-family:    'font-regular';
    color:          $color-white;
    text-transform: uppercase;
    overflow:       auto;
    padding:    25px;
    font-size: 11px;
    margin-top: 40px;

    @include background-image(linear-gradient(to right, $color-icon-bg-1 , $color-icon-bg-2));

    & > li {
      list-style-type: none;
    }

    a {
      color:     $color-white;
      @include font-size(1);
    }

    hr {
      border-color: rgba($color-white, 0.3);
    }
  }


  .contact-agence {
    padding-top: 30px;
    //font-size: 10px;
    color: #999999;
  }
}

.parallax-window {
  min-height: 100%;
  background: transparent;
}

#mp-pusher-body-wrapper .content.row-teaser {
  padding-left: $padding-sm - 15px;
  padding-right: $padding-sm - 15px;
}

.row-teaser {

 & > div {
   margin-top: 15px;
   margin-bottom: 15px;
 }
}

/*----------------------------------------------
RESPONSIVE
----------------------------------------------*/

//Tablette
@media (min-width: $screen-sm) and (max-width: $screen-md) {

}

//Mobile
@media (max-width: $screen-sm){

}