// Project Files
@import "variables";

@font-face {
  font-family: 'font-script-medium';
  src: url('#{$font-base-path}/distant_stroke_medium-webfont.eot');
  src: url('#{$font-base-path}/distant_stroke_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-base-path}/distant_stroke_medium-webfont.woff2') format('woff2'),
  url('#{$font-base-path}/distant_stroke_medium-webfont.woff') format('woff'),
  url('#{$font-base-path}/distant_stroke_medium-webfont.ttf') format('truetype'),
  url('#{$font-base-path}/distant_stroke_medium-webfont.svg#distant_strokemedium') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'font-script-regular';
  src: url('#{$font-base-path}/distant_stroke-webfont.eot');
  src: url('#{$font-base-path}/distant_stroke-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-base-path}/distant_stroke-webfont.woff2') format('woff2'),
  url('#{$font-base-path}/distant_stroke-webfont.woff') format('woff'),
  url('#{$font-base-path}/distant_stroke-webfont.ttf') format('truetype'),
  url('#{$font-base-path}/distant_stroke-webfont.svg#distant_strokeregular') format('svg');
  font-weight: normal;
  font-style: normal;

}



/* BEGIN Light */
@font-face {
  font-family: 'font-light';
  src: url("#{$font-base-path}/OpenSans-Light.eot?v=1.1.0");
  src: url("#{$font-base-path}/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("#{$font-base-path}/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("#{$font-base-path}/OpenSans-Light.woff?v=1.1.0") format("woff"), url("#{$font-base-path}/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("#{$font-base-path}/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
/* END Light */

/* BEGIN Regular */
@font-face {
  font-family: 'font-regular';
  src: url("#{$font-base-path}/OpenSans-Regular.eot?v=1.1.0");
  src: url("#{$font-base-path}/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("#{$font-base-path}/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("#{$font-base-path}/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("#{$font-base-path}/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("#{$font-base-path}/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Regular */

/* BEGIN Semibold */
@font-face {
  font-family: 'font-semibold';
  src: url("#{$font-base-path}/OpenSans-Semibold.eot?v=1.1.0");
  src: url("#{$font-base-path}/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("#{$font-base-path}/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("#{$font-base-path}/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("#{$font-base-path}/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("#{$font-base-path}/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold */

h1{
  @include font-size(2.5);
  font-family: 'font-semibold';
}

h2{
  @include font-size(2);
  font-family: 'font-semibold';
}

h3{
  @include font-size(1.8);
  font-family: 'font-semibold';
}