@charset "utf-8";

.masonry-grid {
  padding: 10px;
  margin: 0 auto;
}

.masonry-grid-sizer,
.masonry-grid-item {
//  width: 33%;
  width: 300px;
  float: left;
  padding: 10px;
}





.lot-type {
  position: relative;
//  width: 100%;
//  height: 100%;
  overflow: hidden;


  &:hover {

    .background {
      top: -10%;
      height: 120%;
    }
    .frontground {
      background-color: rgba($color-green-sig, 0);

      .lot-list {
        left:0px;
      }
    }

  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 0;

    @include transition-property(all);
    @include transition-duration(0.5s);

    background-color: $color-green-sig;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */

  }

  .frontground {
    position: relative;
    z-index: 1;
    padding: $padding-xs;
    background-color: rgba($color-green-sig, 0.5);

    @include transition-property(all);
    @include transition-duration(0.5s);

    h2 {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      background-color: transparent !important;
      margin-bottom: $padding-sm !important;

      a {
        color: $color-white !important;
        background-color: transparent !important;
        text-decoration: none;
        padding: 5px;

        &:hover {
          background-color: $color-green-sig !important;
        }

      }
    }

    .lot-list {
      position: relative;
      left: -110%;

      @include transition-property(all);
      @include transition-duration(0.5s);


      a {
        background-color: $color-white;
        text-decoration: none;
        padding: 5px;
        display: block;
        margin: 5px;

        & > span {
          float: right;
        }
      }
    }

  }



}