/*-------------------------------------------------------------------
Gestion font-size
https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
--------------------------------------------------------------------*/

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}