// Project Variables
$color-red-sig: #ee383b;
$color-green-sig: #348d46;
$color-grey-sig: #636669;
$color-grey-agency: #F1F1F1;
$color-white: #FFF;
$color-black: #000;

$color-icon-bg-1: lighten($color-green-sig, 10);
$color-icon-bg-2: darken($color-icon-bg-1, 15);

$color-green-sig-hover: darken($color-green-sig, 10);
$color-grey-sig-hover: darken($color-grey-sig, 10);
$color-grey-sig-light: lighten($color-grey-sig, 50);

$color-grey-sig-dark: darken($color-grey-sig, 15); //2D7A3D

//
$padding-xs: 10px;
$padding-sm: 25px;
$padding-md: 80px;
$padding-lg: 100px;


// Mp menu
$mpmenu-width: 300px;
$mpmenu-background-color: $color-grey-sig-dark;
$mpmenu-text-color: $color-white;


//
// Bootstrap
$brand-primary: $color-green-sig;

$screen-xs: 300px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

//$screen-xs: 537px;
//$screen-sm: 807px;
//$screen-md: 1077px;
//$screen-lg: 1347px;


$icon-font-path: "/vendor/bootstrap-sass-official/assets/fonts/bootstrap/";

//
// Font Awesome
$fa-font-path: "/vendor/font-awesome/fonts";

//
//  PATH
$image-base-path: "/bundles/app/images";
$font-base-path: "/bundles/app/fonts";



// Diamond
$diamondSize: 190px;
$belowDiamondSize: 160px;

$diamond-screen-xs: 537px;
$diamond-screen-sm: 807px;
$diamond-screen-md: 1077px;
$diamond-screen-lg: 1347px;

$diamond-text-color: $color-white;
