{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_title %}Mot de passe{% endblock fos_user_title %}

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
