{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_group_edit', {'groupName': group_name} ) }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_edit">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-lg btn-login btn-block" type="submit" value="{{ 'group.edit.submit'|trans }}" />
    </div>
</form>
