{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_title %}Groupe{% endblock fos_user_title %}

{% block fos_user_content %}
{% include "FOSUserBundle:Group:list_content.html.twig" %}
{% endblock fos_user_content %}
