{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_title %}Groupe{% endblock fos_user_title %}

<form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-lg btn-login btn-block" type="submit" value="{{ 'group.new.submit'|trans }}" />
    </div>
</form>
