{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_title %}Groupe{% endblock fos_user_title %}

<div class="fos_user_group_show">
    <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
</div>
