<script type="text/javascript">
	$(document).ready(function () {
		var config = {
			id: "finder_{{ item.vars.id }}",
			connectorPath: "{{ path("uneak_ckfinder_connector") }}"
		};
		CKFinder.setupCKEditor( editor_{{ item.vars.id }}, config );
	});
</script>