{% extends 'UneakFlatSkinBundle::base_admin.html.twig' %}

{% block title %}Administration - {{ parent() }}{% endblock %}

{% block content %}

	<div class="container">

		{% for type, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ type }}" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		<div class="form-signin">

			<h2 class="form-signin-heading">{% block fos_user_title %}{% endblock fos_user_title %}</h2>
			<div class="login-wrap">

				{% block content_body %}
					{% block fos_user_content %}
					{% endblock fos_user_content %}
				{% endblock %}

				<div>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
						<a href="{{ path('fos_user_security_logout') }}">
							{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
						</a>
					{% else %}
						<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
					{% endif %}
				</div>
			</div>

		</div>

	</div>

{% endblock %}


{% block stylesheets_page %}
	{{  parent() }}
	{{ renderAssets('ExternalCss') }}
{% endblock %}

{% block javascripts_bottom_page %}
	{{  parent() }}
	{{ renderAssets('ExternalJs') }}
{% endblock %}

{% block javascript_script %}
	{{  parent() }}
	{{ renderAssets('ScriptJs') }}
{% endblock %}