.agency{
	background-color: $color-grey-agency;
    padding: 20px;
  	margin-bottom: $padding-sm;
    
    h2{
    	margin-top: 0;
    }
	h3{
	    margin-bottom: 20px;
	}
	p{
		margin-bottom: 0;
	    margin-left: 10px;
	}
	div > div{
		margin-top: $padding-sm;
		margin-bottom: 10px;
	}

}

.agency-poste {
  @include font-size(1.5);
  text-transform: uppercase;
  background-color: transparent;
  color: $color-red-sig;
}

.agency-name {
  @include font-size(1.4);
  text-transform: uppercase;
}

.agency-tel,
.agency-mail{
	a{
		@include font-size(1.1);
		text-transform: uppercase;
		background-color: transparent;
        color: $color-green-sig;
        margin-top: 0px;

	    &:hover {
	        background-color: transparent;
      	}
	}
}

.agency-list{
	h3{
		margin: 0;
	}

	.agency div > div{
		margin-top: 0;
	}
}