.list-categorie{
	margin-top: 30px;

	.categorie{
		padding: 20px;

		a{
			margin-left: 10px;
		}
		hr{
			margin-bottom: 0;
		}
	}
}

.list-article{
	.row{
		margin-bottom: $padding-sm;
		padding-right: $padding-sm;
		padding-left: $padding-sm;
	}
	h3{
		margin-top: 0;
	}
	.img{
	    padding-left: 0;  
	      
		img{
			width: 100%;
		}
	} 
	.content-article {
	    padding: 5px;
	    border-left: none;

	    a{
	    	padding: 0;
	    	background: none;
	    }
	}
	hr{
		border-color: $color-red-sig;
	}
}