@import "partials/elements/slider";
@import "partials/elements/cut-block";


.screen{
  display: block;
  position: relative;
  width: 100%;

  &.full {
    overflow: hidden;
    min-height: 100%;
  }

  &.half {
    overflow: hidden;
    min-height: 50%;
  }

  &.color-white {
    background: $color-white;
    color: $color-black;
  }

  &.color-black {
    background: $color-black;
    color: $color-white;
  }

  &.color-grey {
    background: $color-grey-sig;
    color: $color-white;
  }

  &.color-grey-agency {
    background: $color-grey-agency;
    color: $color-black;
  }


  &.color-green {
    background: $color-green-sig;
    color: $color-white;
  }

  &.cut-background {
      @include background-image(linear-gradient(34deg, rgba($color-white, 0.0), rgba($color-white, 0.1) 23%, rgba($color-white, 0.2) 25%, rgba($color-black, 0.2) 25%, rgba($color-black, 0.1) 40%, rgba($color-black, 0.1) 100%));

      background-position: 0px 0px;
      background-repeat:   no-repeat;
      background-size: cover;
  }


}


.slider-home{
  position: relative;
  height: 100%;

  .slider {
    height: 100%;
  }

  .slick-list {
    height: 100%;
    .slick-track {
      height: 100%;
      .slide{
        height: 100%;
        .background {
          height: 100%;
          & > div {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
      }

    }
  }

}

.search-map {

  width: 100%;
  height: 100%;
  color: $color-white;

  .search-map-title {
    position: absolute;
    z-index: 10;
    left: 40px;
    top: 20px;
    padding: 5px;

  }

  .search-map-form {
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 20px;
    padding: 5px;

    text-align: center;

    select {
      width: auto;
    }
  }

  label{
    font-weight : normal;
    @include font-size(1.5);
    font-family: "font-light";
  }

  .input-group {
    width: 100%;
  }

  .input-group button{
    color: $color-white;
    background-color: $color-green-sig;
    border-color: $color-green-sig-hover;

    &:hover{
      background-color: $color-green-sig-hover;
    }
  }
}

#sig-map {
  position: relative;
  height: 100%;
  width: 100%;

  .subHeading{
    font-style: italic;
    @include font-size(1);
    line-height: 0;
  }

  #bodyContent{
    p{
      margin: 0;
    }
  }
}

.home-video {
  background-color: #000000;
  color:#FFFFFF;
  .row {
    margin: 0px;
  }
}

ul{
  margin: 0;
  padding: 0;
}

ul > li{
  list-style-type: none;
}


.line-2{
  margin-top: 30px;
}

.slide-article {

  img{
  max-width: 100%;
  }
  .image-article {
    width: 100%;
    height: auto;
  }
}

.content-article{
  padding: 10px;
  border-left: 1px solid $color-red-sig;

  h3{
    color: $color-red-sig;
    text-transform: uppercase;
  }

  p{
    font-family: 'font-light';
    @include font-size(1.3);
  }

  a{
    font-family: 'font-semibold';
    @include font-size(1.5);
    text-transform: uppercase;
    color: $color-black;
    float: right;

    img{
      height: $padding-sm;
      padding-left: 10px;
    }
  }
}

.slider-proposition {
  .slide-proposition {
    padding-left: $padding-sm;
    padding-right: $padding-sm;

    img {
      width: 100%;
      height: auto;
    }

    h2 {
      margin: 0px;
      a {
        padding: 5px 10px;
        text-transform: uppercase;
        background-color: $color-green-sig;
        color: $color-white;
        margin-top: 10px;
        display: inline-block;
        text-decoration: none;

        &:hover {
          background-color: $color-green-sig-hover;
        }
      }
    }

    .content-description {
      padding-top: $padding-sm;
    }

    p {
      margin: 0px 0px 4px;
    }

  }
}

.more{
  margin-left: $padding-sm;
  margin-right: $padding-sm;
  a{
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: $color-green-sig;
    color: $color-white;
    font-family: 'font-semibold';
    text-decoration: none;

    &:hover{
      background-color: lighten($color-green-sig, 15);
    }
  }
}



.screen.color-green.slide-contact{

  background: url($img-bg-contact) no-repeat;
  background-size: cover;


  #contact-form {
    padding: $padding-sm;
  }
  form{
    overflow: auto;
  }

//  .input-group{
//    margin-bottom: 40px;
//  }

  textarea{
    background-color: rgba($color-white, 0.5);
    border: 1px solid $color-white;
    box-shadow: none;
    height: 205px;
  }

  label{
    color: $color-white;

    > span{
      margin-right: $padding-sm;
      @include font-size(1.5);
      vertical-align: text-top;
    }
  }

  .help-block{

    &:before{
      content:" ";
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-width: 10px;
      border-left-width: 10px;
      border-bottom: 6px solid $color-red-sig;
      display: block;
      margin-left: 10px;
    }

    li{
      background: $color-red-sig none repeat scroll 0% 0%;
      border-radius: 3px;
      padding: 10px;
      color: $color-white;    
    }
  }

  .contact-text{
    .help-block{
    margin-top: 0;
    }
  }

  .alert{
    margin-left: 10px;
    margin-right: 10px;
    color: $color-white;
    background: $color-red-sig;
    border: none;
    padding: 10px;
  }
}

.slide-contact input, .slide-contact select, .slide-contact .input-group-addon{
  font-family: 'font-semibold';
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid $color-white;
  color: $color-white;

}

.slide-contact select:focus {
  background-color: $color-green-sig;
}


.slide-contact ::-webkit-input-placeholder {
  color: $color-white !important;
}

.slide-contact :-moz-placeholder { /* Firefox 18- */
  color: $color-white !important;
}

.slide-contact ::-moz-placeholder {  /* Firefox 19+ */
  color: $color-white !important;
}

.slide-contact :-ms-input-placeholder {
  color: $color-white !important;
}

.slide-contact input:focus, .slide-contact select:focus, .slide-contact .input-group-addon:focus,.slide-contact textarea:focus, .btn-sig:focus{
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}

.form-control:focus {
  border-color: $color-red-sig;
}

.btn-sig{
  font-family: 'font-semibold';
  border : 1px solid $color-white;
  background-color: rgba($color-white, 0.2);
  color: $color-white;
  border-radius: 4px;
  padding: 10px 30px;
  text-transform: uppercase;

  @include transition-property(all);
  @include transition-duration(0.8s);

  &:hover{
    border-color: $color-red-sig;
    color: $color-red-sig;
  }
}

.pub{
  min-height: 520px;
  
  .slick-dots {
      position: relative !important;
      bottom: 0 !important;
    }

  .slide-proposition{
    margin-bottom: 20px;

    h3{
      margin-top: 10px;
      margin-bottom: 5px;
      line-height: 2px;
    }
  }
}

/*----------------------------------------------
RESPONSIVE
----------------------------------------------*/

//Tablette
@media (min-width: $screen-sm) and (max-width: $screen-md) {

  .search-map .search-map-form {
    position: initial;
  }

  .search-map-title {
    display: none;
  }


}

//Mobile
@media (max-width: $screen-sm){

  .search-map .search-map-form {
    position: initial;
  }

  .content-article a{
    margin-bottom: $padding-sm;
  }

  .search-map-title {
    display: none;
  }

}