{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_title %}Réinitialisation{% endblock fos_user_title %}

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
