CKEDITOR.plugins.add('news', {
    requires: 'widget,ajax',

    init: function( editor ) {
        editor.widgets.add( 'news', {
            button: 'Ajouter une actualité',
            dialog: 'news',
            template:'{% spaceless %}{% include 'NewsBundle:CKEditor/plugins/news:template/template.html.twig' %}{% endspaceless %}',
            editables: {
                title: {
                    selector: '.simplebox-title',
                    allowedContent: 'br strong em'
                },
                content: {
                    selector: '.simplebox-content',
                    allowedContent: 'p br ul ol li strong em'
                }
            },

            allowedContent: 'div(!ck-widget-news); div(!simplebox); div(!simplebox-content); h2(!simplebox-title)',
            requiredContent: 'div(ck-widget-news)',

            upcast: function( element ) {
                return element.name == 'div' && element.hasClass( 'ck-widget-news' );
            },

            init: function() {

            },

            data: function() {

                if (this.data.newsId) {
                    for (key in this.definition.editables) {
                        this.destroyEditable(key);
                    }
                    var news = CKEDITOR.ajax.load('{{ path('ckeditor_news_data_news') }}?id='+this.data.newsId);
                    this.element.setHtml(news);
                    for (key in this.definition.editables) {
                        this.initEditable(key, this.definition.editables[key]);
                    }
                }

            }

        } );

        CKEDITOR.dialog.add( 'news', '{{ path('ckeditor_news_dialogs') }}' );

    }
} );