
.cut-block {
  position: relative;
  width: 100%;
  height: 100%;
//  background-color: $color-grey-agency;
          color: $color-white;

  .background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
//    @include background-image(linear-gradient(34deg, rgba($color-white, 0.0), rgba($color-white, 0.1) 43%, rgba($color-white, 0.2) 45%, rgba($color-black, 0.2) 45%, rgba($color-black, 0.1) 60%, rgba($color-black, 0.1) 100%));
//    @include background-image(url($img-bg-map));
    background-position: 0px 0px;
    background-repeat:   no-repeat;
    background-size: cover;

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 1;

    }
  }



  .frontground {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 60px;

    .content-text {

//      padding: 20px;

      h2 {
//        text-transform: uppercase;
//        background: url($img-title-roof-dot) no-repeat 53%;
//        background-size: contain;
//        height: 1$padding-sm;
//        padding-top: 20px;
        text-align: center;
        font-family: 'font-script-medium';
        font-size: 62px;
        margin-bottom: -16px;
//        color: $color-white;
//        text-transform: lowercase;
      }

      p {
        font-family: 'font-light';
        text-align: center;
      }

      a {

      }

    }
  }

}

/*----------------------------------------------
RESPONSIVE 
----------------------------------------------*/

//Tablette
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  
}

//Mobile
@media (max-width: $screen-sm){
  .cut-block {    
    .frontground {
      padding-top: 0;

      .content-text h2{
        height: 65px;
      }
    }
    .background{
      background-size: cover;
    }
  }
}