
* {
  @include box-sizing(border-box);
}

/* @group mixins */
@mixin respond-to($query) {
  @media only screen and #{$query}  {
    @content
  }
}

@mixin diamond-grid-breakpoint($query-min, $query-max, $maxWidth, $n, $maxRow) {
  @include respond-to("(max-width: #{$query-max}) and (min-width: #{$query-min})") {

    .csstransforms & {
      max-width: $maxWidth;

      > li {
        &:nth-child(#{$n}n+#{$maxRow + 1}) {
          margin-left: 135px;
        }

        &:nth-child(#{$n}n+#{$maxRow}) {
          margin-right: 0;
        }

        &:nth-child(n+#{$maxRow}) {
          margin-top: -55px;
        }
      }
    }
  }

}




@mixin diamonds($diamondSize, $belowDiamondSize, $diamond-screen-xs, $diamond-screen-sm, $diamond-screen-md, $diamond-screen-lg, $left-width) {

  .diamonds {
    //		font: Helvetica, Arial, sans-serif;
    font-size: 0;
    margin: 40px auto;

    @include diamond-grid-breakpoint($query-min: $diamond-screen-lg+$left-width+1, $query-max: 9999px, $maxWidth: 1270px, $n: 9, $maxRow: 5);
    @include diamond-grid-breakpoint($query-min: $diamond-screen-md+$left-width+1, $query-max: $diamond-screen-lg+$left-width, $maxWidth: 1000px, $n: 7, $maxRow: 4);
    @include diamond-grid-breakpoint($query-min: $diamond-screen-sm+$left-width+1, $query-max: $diamond-screen-md+$left-width, $maxWidth: 730px, $n: 5, $maxRow: 3);
    @include diamond-grid-breakpoint($query-min: $diamond-screen-xs+$left-width+1, $query-max: $diamond-screen-sm+$left-width, $maxWidth: 460px, $n: 3, $maxRow: 2);


    .csstransforms & {
      padding: 39px 0;

      @include respond-to("(max-width: #{$diamond-screen-xs+$left-width})") {
        padding: 0;
        text-align: center;
      }
    }

    .no-csstransforms & {
      max-width: 1060px;
    }

    > li {
      display: inline-block;
      font-size: 18px;
      margin-right: 80px;

      @include respond-to("(max-width: #{$diamond-screen-xs+$left-width})") {
        margin-right: 0;
        width: $belowDiamondSize;
      }

      .no-csstransforms & {
        margin: 0 20px 20px 0;
      }
    }

    a.diamond {
      color: $diamond-text-color;
      text-decoration: none;
      font-family: "font-semibold";

      @include border-radius(4px);
      @include box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.3));

      &:hover {
        color: darken($diamond-text-color, 30);
      }
    }

    .diamond {
      @include backface-visibility(hidden);
      @include background-image(linear-gradient(to right, $color-icon-bg-1, $color-icon-bg-2));
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      bottom: 5px;
      right: 5px;


    }

    .diamond-container {
      @include backface-visibility(hidden);
      display: block;
      height: $diamondSize;
      overflow: hidden;
      @include perspective(1000);
      position: relative;
      width: $diamondSize;

      .csstransforms & {
        overflow: hidden;
        @include rotate(-45deg);

        @include respond-to("(max-width: #{$diamond-screen-xs+$left-width})") {
          height: $belowDiamondSize;
          @include rotate(0);
          width: $belowDiamondSize;
        }
      }
    }

    .content {
      display: table-cell;
      height: $diamondSize;
      background-color: transparent;
      @include rotate(45deg);
      text-align: center;
      vertical-align: middle;
      width: $diamondSize;




      i {
        font-size: 32px;
      }
      span {
        font-size: 14px;
      }

      @include respond-to("(max-width: #{$diamond-screen-xs+$left-width})") {
        .csstransforms & {
          height: $belowDiamondSize;
          @include rotate(0);
          width: $belowDiamondSize;
        }
      }
    }
  }
}




#mp-pusher.mp-pusher-close {
  @include diamonds($diamondSize, $belowDiamondSize, $diamond-screen-xs, $diamond-screen-sm, $diamond-screen-md, $diamond-screen-lg, 0);
}

#mp-pusher.mp-pusher-open {
  @include diamonds($diamondSize, $belowDiamondSize, $diamond-screen-xs, $diamond-screen-sm, $diamond-screen-md, $diamond-screen-lg, $mpmenu-width);
}