/*----------------------------------------------
Footer
----------------------------------------------*/




footer {
  font-family:    'font-regular';
  color:          $color-white;
  text-transform: uppercase;
  padding:    25px;
  padding-bottom:    35px;
  @include background-image(linear-gradient(to right, $color-icon-bg-1 , $color-icon-bg-2));

  a {
    color:     $color-white;
    @include font-size(1);
  }

  hr {
    border-color: rgba($color-white, 0.3);
  }
}



.link-map {
  .title-footer {
    font-family: 'font-semibold';
    @include font-size(1.2);
  }
  a:hover {
    color: $color-red-sig;
  }
}

.mention, .mention a {
  font-family: 'font-light';
  @include font-size(1.1);
}

.mention a:hover {
  color: $color-red-sig;
}

.mention span {
  font-family: 'font-semibold';
}