.my-gallery{
  font-family: 'font-regular';



  figure{
    display: inline-block;
    width: 100%;
    padding: 5px;

    a{
//      display: block;
//      overflow: hidden;
//      background-color: transparent;
//      padding: 0;
//      &:hover{
//        background-color: transparent;
//      }
      img {
        width: 100%;
        height: auto;
      }
    }

    figcaption{
      text-transform: uppercase;
      padding: 5px;
      background-color: $color-grey-agency;
      @include font-size(1.2);
    }
  }
}
.pswp{
  z-index: 9999 !important;
}
.pswp__caption__center{
  text-transform : uppercase;
}

/*----------------------------------------------
RESPONSIVE
----------------------------------------------*/

//Tablette
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  
}

//Mobile
@media (max-width: $screen-sm){

}