/*----------------------------------------------
Menu Principal
----------------------------------------------*/

.left-panel-logo {
  text-align: center;
  img {
    padding-top: 10px;
  }
}

.left-panel-phone {
  margin-top: 50px;
  text-align: center;
}


/*----------------------------------------------
Menu Secondaire
----------------------------------------------*/

.secondary-menu {
  font-family: 'font-light';
  position: absolute;
  top: 0;
  z-index: 9999;
  right: 0px;
  left: 0px;

  height: 50px;
  @include background-image(linear-gradient(to right, $color-icon-bg-1, $color-icon-bg-2));

  .center-logo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    width: 160px;

    img {
      margin-top: -13px;
      width: 100%;
      height: auto;
    }
  }

  .right-menu {
    float: right;
    text-align: right;


    li {
      float:        right;
      height: 50px;

      a {
        padding:      5px 20px;

        &:hover {
          background-color: $color-green-sig;
          border-color:     darken($color-green-sig, 5);
          color: $color-white;
        }

      }

    }
  }

  .left-menu {
    float: left;
    text-align: left;

    li {
      float:        left;

      a {
//        border:       1px solid $color-white;
//        border-radius: .25rem;
        padding:      5px 20px;


        &:hover {
          background-color: $color-green-sig;
          border-color:     darken($color-green-sig, 5);
          color: $color-white;
        }

      }

    }

  }


  a {

    color: $color-white;
    @include transition-property(all);
    @include transition-duration(0.8s);
    @include font-size(1.1);

    line-height: 50px;

    &:hover {
      text-decoration: none;
    }

    span {
      @include font-size(1.5);
      vertical-align: middle;
    }

    .resp-txt {
      margin-left: $padding-sm;
    }
  }

}


.nav-home{
  .secondary-menu{
    background:  rgba($color-white, 0.5);
    
    ul{
      li{
        border-color: $color-black;
      }
      li:nth-child(-n+2) {
        border: 1px solid $color-black;
        
        &:hover {
          border-color: $color-green-sig;
        }
      }
    }
    a {
    color: $color-black;
    }
  }
}


/*----------------------------------------------
RESPONSIVE MENU
----------------------------------------------*/

@media (min-width: 0px) and (max-width: 1350px) {

  .mp-pusher-open {

    .secondary-menu {
      .center-logo {
        display: none;
      }
      //    .resp-txt {
      //      display: none;
      //    }
    }

  }

}

@media (min-width: 0px) and (max-width: 930px) {
  .mp-pusher-open {
    .secondary-menu {
      .resp-txt {
        display: none;
      }
    }
  }
}


//Tablette
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .secondary-menu {
    .center-logo {
      display: none;
    }
  }
}

//Mobile
@media (max-width: $screen-sm){

  .secondary-menu {
    .center-logo {
      display: none;
    }
    .resp-txt {
      display: none;
    }
  }


}