.slider {
  position: relative;

  .slide {
    position: relative;
    width: 100%;
    height: 100%;

    .background {
      position: relative;
      z-index: 0;

      .cut-image {
        img {
          width: 100%;
          height: auto;
        }
        &:after{
          background-image:none;
        }
      }

    }

    .frontground {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0px;
      @include background-image(linear-gradient(to bottom, rgba($color-black, 0), rgba($color-black, 0.1) 50%, rgba($color-black, 0.3) 66%, rgba($color-black, 0.5)));


      .content-text {
        position: absolute;
        height: 40%;
        width: 100%;
        bottom: 0px;
        padding: 20px;
        color: $color-white;
        background: url($img-roof) no-repeat 55% 20%;
        background-size: contain;
        text-align: center;

        h2 {
//          font-family: 'font-semibold';
          font-family: 'font-script-medium';
          font-size: 62px;
          margin-bottom: -16px;
          color: $color-white;
//          text-transform: lowercase;


//          text-transform: uppercase;
        }

        p {
          font-family: 'font-light';
          font-size: 19px;
          color: $color-white;
        }

        a {

        }

      }
    }

  }

}

.slick-dots{
  position: absolute;
  bottom: 30px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;

  li{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      background-image: url($img-dot);
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      color: transparent;
      padding: 9px;

      &:focus {
        outline: none;
      }
    }
  }

  .slick-active button {
    background-image: url($img-dot-active);
  }
}


.home-video {
  .slick-dots {
    position: inherit;
    bottom: 0px;

  }
}



/*----------------------------------------------
RESPONSIVE 
----------------------------------------------*/

//Tablette
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .slider{
    .slide{
      .frontground{
        .content-text{
          height: 60%;
        }
      }
    }
  }
}

//Mobile
@media (max-width: $screen-sm){
  .slick-dots{
    display:none !important;
  }
//  .slider .slide .frontground .content-text {
//    background-image: none;
//    padding: 5px;
//    overflow: hidden;
//
//    h2{
//      @include font-size(1.5);
//      margin-top: 0;
//      margin-bottom: 3px;
//    }
//  }
}