.teaser {
  border: rgba(0,0,0,0.02) solid 1px;
  padding: 20px;
  background: rgba(0,0,0,0.02);
  margin-bottom: 30px;


  img {
    width: 100%;
    height: auto;
  }

  a.no-padding {
    padding: 0px;
    margin: 0px;
    background: transparent;
  }

}
