{% extends 'UneakFlatSkinBundle::layout_admin.html.twig' %}


{% block title %}User - {{ parent() }}{% endblock %}

{% block content_page %}

	<div class="row">
		<aside class="profile-nav col-lg-3">
			{{ renderBlock('navigation') }}
			{{ renderBlock('user_navigation') }}
		</aside>
		<aside class="profile-info col-lg-9">
			{% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
			{{ renderBlock('infos') }}
			{{ renderBlock('panelCollaborateur') }}
			{{ renderBlock('panelProposition') }}
			{{ renderBlock('panelService') }}
		</aside>
	</div>

{% endblock %}
