<div class="ck-widget-news simplebox">
    {% if item.image is defined %}<img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('people') }}" />{% endif %}
    <h2 class="simplebox-title">{% if item.label is defined %}{{ item.label | raw }}{% endif %}</h2>

    <div class="simplebox-content">
        <p>{% if item.description is defined %}{{ item.description | raw }}{% endif %}</p>
    </div>
</div>